<nav class="c-pagination">
  <ol class="c-pagination__list">
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">&#8592; prev</a>
    </li>
    <li class="c-pagination__item">
      <a class="c-pagination__link" href="#">next &#8594;</a>
    </li>
  </ol>
</nav>
