<label class="c-theme-switcher j-theme-switcher" for="checkbox">
  <input class="c-theme-switcher__input" type="checkbox" id="checkbox"/>
  <span class="c-theme-switcher__label c-theme-switcher__label--light" aria-label="theme-light">☀️</span>
  <span class="c-theme-switcher__label c-theme-switcher__label--dark" aria-label="theme-dark">🌙</span>
</label>
