<div class="c-theme-switcher">
  <label class="c-theme-switcher__checkbox" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="c-theme-switcher__slider"></div>
  </label>
  <span class="c-theme-switcher__text"></span>
</div>
