<%
  let uimodifiers = '';
  uiContext.containerModifiers.forEach(function(el){
    uimodifiers = `${uimodifiers} ${el}`
  })

  let uicomponentmodifiers = '';
  uiContext.componentModifiers.forEach(function(el){
    uicomponentmodifiers = `${uicomponentmodifiers} ${el}`
  })
%>

<div class="ui-container t-palette-color--1 <%=uimodifiers%>">
  <div class="<%=uicomponentmodifiers%>">
    <!-- COMPONENT start -->
    <%- include('../card'); %>
    <!-- COMPONENT end -->
  </div>
</div>
