<!DOCTYPE html>
<html class="<!-- uiengine:class -->">
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/dev.css" rel="stylesheet">
  </head>
  <body>
    <!-- uiengine:content -->

    <!-- add your custom scripts here:
    <script src="/scripts/my.js" defer></script>
    -->

    <!-- open/close mobile menu -->

    <script>
    const checkbox = document.querySelector(".c-header__toggle");
    checkbox.addEventListener('change', function() {
      document.body.classList.toggle("is-menu-open");
    });

    <!-- switch theme dark mode -->

    const toggleSwitch = document.querySelector('.c-theme-switcher__checkbox input[type="checkbox"]')
    const currentTheme = localStorage.getItem('theme')
    const toggleSwitchLabel = document.querySelector('.c-theme-switcher__text')
    const toggleLabels = {
      dark: 'Dark mode 🌙',
      light: 'Light mode ☀️'
    }

    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);

      if (currentTheme === 'dark') {
        toggleSwitch.checked = true;
        toggleSwitchLabel.textContent = toggleLabels.light
      } else {
        toggleSwitchLabel.textContent = toggleLabels.dark
      }
    }

    function switchTheme(e) {
      if (e.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
        toggleSwitchLabel.textContent = toggleLabels.light
        localStorage.setItem('theme', 'dark');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        toggleSwitchLabel.textContent = toggleLabels.dark
        localStorage.setItem('theme', 'light');
      }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);

    </script>

    <!-- uiengine:foot -->
  </body>
</html>
