<!DOCTYPE html>
<html class="<!-- uiengine:class -->">
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/dev.css" rel="stylesheet">
  </head>
  <body>
    <!-- uiengine:content -->

    <!-- add your custom scripts here:
    <script src="/scripts/my.js" defer></script>
    -->
    <script>
    const checkbox = document.querySelector(".c-header__toggle");
    checkbox.addEventListener('change', function() {
      document.body.classList.toggle("is-menu-open");
    });
    </script>

    <!-- uiengine:foot -->
  </body>
</html>
