<article class="c-article-section">
  <h1>This is the post title</h1>

  <div class="c-article-section__top l-spacing-m">
    <p class="c-article-section__info">
      <time class="c-article-section__date" datetime="2019-03-01">31st Aug 2019</time>
      <span class="c-article-section__reading-time">1 min read</span>
    </p>

    <!-- twitter share -->
    <div class="c-article-section__share">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
        data-show-count="false">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- tags -->
    <ul class="c-article-section__tags">
      <% articleSection.tags.forEach(function(tag){ %>
      <li class="c-article-section__tag">
        <a class="c-label" href="#"><%= tag %></a>
      </li>
      <% }); %>
    </ul>
  </div>

  <aside>
    <details class="c-article-section__toc">
      <summary><span>📚</span>Table of contents</summary>
      <nav class="toc">
        <ol>
          <li><a href="#uiengine">UIengine</a></li>
          <li><a href="#run-parallel-tasks">Run parallel tasks</a>
            <ol>
              <li><a href="#dev-scripts">Dev scripts</a></li>
            </ol>
          </li>
          <li><a href="#uiengine-configuration">UIengine configuration</a></li>
        </ol>
      </nav>
    </details>
  </aside>

  <div class="c-reading-progress j-reading-progress"><span class="c-reading-progress__value j-reading-progress__value"></span></div>
  <div class="c-article-section__content j-article-section__content">
    <%- include('./article-section-content.ejs'); %>
  </div>

  <!-- edit on gitlab -->
  <a href="https://gitlab.com/giuliach/super-blog-content/-/blob/master/til/template-engine/nunjucks-scoped-vars.md" target="_blank" rel="noopener"><small>Edit this page on GitLab</small></a>

  <!-- tags -->

  <div class="c-article-section__bottom">
    <ul class="c-article-section__tags l-spacing-m">
      <% articleSection.tags.forEach(function(tag){ %>
      <li class="c-article-section__tag">
        <a class="c-label" href="#"><%= tag %></a>
      </li>
      <% }); %>
    </ul>

    <div class="o-distributed o-distributed--center l-spacing-l">
      <a class="c-button" href="#">Take me to another post!</a>
    </div>
  </div>
</article>
