/* ==========================================================================
  COLORS
========================================================================== */

// Palette colors
// from https://www.schemecolor.com/color-fest.php (change yellow with orange to preserve hero legibility)

$co_palette-1: #ef476f;
$co_palette-2: #0d3b95;
$co_palette-3: #06d6a0;
$co_palette-4: #1b98e0;
$co_palette-5: #ff9f1c;
$co_palette-dark: #073b4c;
$co_palette-code-snippets: #1e1e3f;

// do not use opacity/lighen but custom solid values instead
// IMPORTANT: lighten colors are also used in base.njk theme colors

$co_palette-1-light: #ffe1e8;
$co_palette-2-light: #d7e5ff;
$co_palette-3-light: #adffe9;
$co_palette-4-light: #ace1ff;
$co_palette-5-light: #ffe3bd;

$co_lighten: 10%;
$co_shadow-default: 0.1;
$co_shadow-default-intense: 0.4;
$co_shadow-colored: 0.4;
$co_shadow-colored-intense: 0.7;

// Neutrals

$co_color-light: #fff;
$co_color-solid-black: #000;

$co_color-concrete: #f3f3f3;
$co_color-city-lights: #e8e8e8;
$co_color-light-gray: #acb3c2;
$co_color-medium-gray: #69778f;
$co_color-dark-gray: #3f3f3f;

// Set main colors

$co_color-main: $co_color-medium-gray;
$co_color-main-light: #8b9bbd;
$co_color-main-tint-10: tint($co_color-main, 10%);
$co_color-palette-dark-darken: darken($co_palette-code-snippets, 3%);
$co_color-palette-dark-darken2: darken($co_palette-code-snippets, 5%);

/**
 * CSS vars
 */

:root {
  --co_text: #{$co_color-main};
  --co_text-tint-10: #{$co_color-main-tint-10};
  --co_background: #{$co_color-light};
  --co_shadow: #{rgba($co_color-solid-black, $co_shadow-default)};
  --co_shadow-intense: #{rgba($co_color-solid-black, $co_shadow-default-intense)};
  --co_palette: #{$co_color-main};
  --co_palette--lighten: #{lighten($co_color-main, $co_lighten)};
  --co_palette--lighten-hard: #{lighten($co_color-main, 30%)};
}

[data-theme= 'dark'] {
  --co_text: #{$co_color-light};
  --co_background: #{$co_color-palette-dark-darken};
  --co_text-tint-10: #{tint($co_color-light, 10%)};
}

// Palette colors

.t-palette-color--1 {
  --co_palette: #{$co_palette-1};
  --co_palette--lighten: #{lighten($co_palette-1, $co_lighten)};
  --co_palette--lighten-hard: #{$co_palette-1-light};

  [data-theme= 'dark'] & {
    --co_shadow: #{rgba($co_palette-1, $co_shadow-colored)};
    --co_shadow-intense: #{rgba($co_palette-1, $co_shadow-colored-intense)};
  }
}

.t-palette-color--2 {
  --co_palette: #{$co_palette-2};
  --co_palette--lighten: #{lighten($co_palette-2, $co_lighten)};
  --co_palette--lighten-hard: #{$co_palette-2-light};

  [data-theme= 'dark'] & {
    --co_shadow: #{rgba($co_palette-2, $co_shadow-colored)};
    --co_shadow-intense: #{rgba($co_palette-2, $co_shadow-colored-intense)};
  }
}

.t-palette-color--3 {
  --co_palette: #{$co_palette-3};
  --co_palette--lighten: #{lighten($co_palette-3, $co_lighten)};
  --co_palette--lighten-hard: #{$co_palette-3-light};

  [data-theme= 'dark'] & {
    --co_shadow: #{rgba($co_palette-3, $co_shadow-colored)};
    --co_shadow-intense: #{rgba($co_palette-3, $co_shadow-colored-intense)};
  }
}

.t-palette-color--4 {
  --co_palette: #{$co_palette-4};
  --co_palette--lighten: #{lighten($co_palette-4, $co_lighten)};
  --co_palette--lighten-hard: #{$co_palette-4-light};

  [data-theme= 'dark'] & {
    --co_shadow: #{rgba($co_palette-4, $co_shadow-colored)};
    --co_shadow-intense: #{rgba($co_palette-4, $co_shadow-colored-intense)};
  }
}

.t-palette-color--5 {
  --co_palette: #{$co_palette-5};
  --co_palette--lighten: #{lighten($co_palette-5, $co_lighten)};
  --co_palette--lighten-hard: #{$co_palette-5-light};

  [data-theme= 'dark'] & {
    --co_shadow: #{rgba($co_palette-5, $co_shadow-colored)};
    --co_shadow-intense: #{rgba($co_palette-5, $co_shadow-colored-intense)};
  }
}

// SHADOW

@mixin element-shadow($color: var(--co_shadow)) {
  box-shadow: 0 rem(10) rem(45) rem(-9) $color;
}
