/* ==========================================================================
  COLORS light
========================================================================== */

$color-main-light: $color-light-magenta-light;
$color-main-dark:  $color-light-magenta-dark;
$color-gradient-1: $color-light-gradient-1;
$color-gradient-2: $color-light-gradient-2;
$color-linear-gradient: linear-gradient(225deg, $color-gradient-1 0%, $color-gradient-2 100%);
$color-linear-gradient-inverted: linear-gradient(225deg, $color-gradient-2 0%, $color-gradient-1 100%);
