/* ==========================================================================
  COLORS BY TAGS

  Used in card, hero
========================================================================== */

$co_card-gradient-git: #ff9aa2;
$co_card-gradient-vuejs: #ffb7b2;
$co_card-gradient-js: #ffdac1;
$co_card-gradient-vsc: #bae5e5;
$co_card-gradient-css: #98d6ea;
$co_card-gradient-nodejs: #c7ceea;
$co_card-gradient-design-system: #c6aeff;
$co_card-gradient-static-site-generator: #bdd8ff;
$co_card-gradient-markdown: #bdffb2;
$co_card-gradient-template-engine: #eef9bf;
$co_card-gradient-svg: #ffc8ae;
$co_card-gradient-mac-os: #ff9fbb;

$co_gradient-blog: #ff928b, #ffac81;
$co_gradient-til: #a88beb, #f8ceec;
$co_gradient-projects: #f9d976, #f39f86;
$co_gradient-search: #6782b4, #b1bfd8;
$co_gradient-about: #f67062, #fc5296;

$tags: blog, til, projects, search, about, git, vuejs, js, vsc, css, nodejs, design-system, static-site-generator, markdown, template-engine, svg, mac-os;

@mixin card-gradient($dir, $tag, $text: false) {
  color: $co_color-light;

  // GENERAL

  @if $tag == 'blog' {
    background: linear-gradient(to right, $co_gradient-blog);
  }

  @if $tag == 'til' {
    background: linear-gradient(to right, $co_gradient-til);
  }

  @if $tag == 'projects' {
    background: linear-gradient(to right, $co_gradient-projects);
  }

  @if $tag == 'search' {
    background: linear-gradient(to right, $co_gradient-search);
  }

  @if $tag == 'about' {
    background: linear-gradient(to right, $co_gradient-about);
  }

  // TAGS

  @if $tag == 'git' {
    background: $co_card-gradient-git;
  }

  @else if $tag == 'vuejs' {
    background: $co_card-gradient-vuejs;
  }

  @else if $tag == 'js' {
    background: $co_card-gradient-js;
  }

  @else if $tag == 'vsc' {
    background: $co_card-gradient-vsc;
  }

  @else if $tag == 'css' {
    background: $co_card-gradient-css;
  }

  @else if $tag == 'nodejs' {
    background: $co_card-gradient-nodejs;
  }

  @else if $tag == 'design-system' {
    background: $co_card-gradient-design-system;
  }

  @else if $tag == 'static-site-generator' {
    background: $co_card-gradient-static-site-generator;
  }

  @else if $tag == 'markdown' {
    background: $co_card-gradient-markdown;
  }

  @else if $tag == 'template-engine' {
    background: $co_card-gradient-template-engine;
  }

  @else if $tag == 'svg' {
    background: $co_card-gradient-svg;
  }

  @else if $tag == 'mac-os' {
    background: $co_card-gradient-mac-os;
  }
}

@mixin card-shadow ($opacity: 0.1) {
  box-shadow: 0 rem(10) rem(45) rem(-9) rgba(0, 0, 0, $opacity);
}
