/* ==========================================================================
  COLORS BY TAGS

  Used in card, hero
========================================================================== */

$co_card-gradient-git: #feb692, #ea5455;
$co_card-gradient-vuejs: #81fbb8, #28c76f;
$co_card-gradient-js: #fdeb71, #f8d800;
$co_card-gradient-vsc: #abdcff, #0396ff;
$co_card-gradient-css: #e2b0ff, #9f44d3;
$co_card-gradient-nodejs: #fff720, #3cd500;
$co_card-gradient-design-system: #90f7ec, #32ccbc;
$co_card-gradient-static-site-generator: #43cbff, #9708cc;
$co_card-gradient-markdown: #ce9ffc, #7367f0;
$co_card-gradient-template-engine: #fccf31, #f55555;
$co_card-gradient-svg: #f761a1, #8c1bab;
$co_card-gradient-mac-os: #f97794, #623aa2;

$co_gradient-general-1: #fff886, #f072b6;
$co_gradient-general-2: #97abff, #123597;
$co_gradient-general-3: #f5cbff, #c346c2;
$co_gradient-general-4: #ffd3a5, #fd6585;
$co_gradient-general-5: #f0ff00, #58cffb;

$tags: general-1, general-2, general-3, general-4, general-5, git, vuejs, js, vsc, css, nodejs, design-system, static-site-generator, markdown, template-engine, svg, mac-os;

@mixin card-gradient($dir, $tag, $text: false) {
  color: $co_color-light;

  // GENERAL

  @if $tag == 'general-1' {
    background: linear-gradient($dir, $co_gradient-general-1);
  }

  @if $tag == 'general-2' {
    background: linear-gradient($dir, $co_gradient-general-2);
  }

  @if $tag == 'general-3' {
    background: linear-gradient($dir, $co_gradient-general-3);
  }

  @if $tag == 'general-4' {
    background: linear-gradient($dir, $co_gradient-general-4);
  }

  @if $tag == 'general-5' {
    background: linear-gradient($dir, $co_gradient-general-5);
  }

  // TAGS

  @if $tag == 'git' {
    background: linear-gradient($dir, $co_card-gradient-git);
  }

  @else if $tag == 'vuejs' {
    background: linear-gradient($dir, $co_card-gradient-vuejs);
  }

  @else if $tag == 'js' {
    background: linear-gradient($dir, $co_card-gradient-js);
  }

  @else if $tag == 'vsc' {
    background: linear-gradient($dir, $co_card-gradient-vsc);
  }

  @else if $tag == 'css' {
    background: linear-gradient($dir, $co_card-gradient-css);
  }

  @else if $tag == 'nodejs' {
    background: linear-gradient($dir, $co_card-gradient-nodejs);
  }

  @else if $tag == 'design-system' {
    background: linear-gradient($dir, $co_card-gradient-design-system);
  }

  @else if $tag == 'static-site-generator' {
    background: linear-gradient($dir, $co_card-gradient-static-site-generator);
  }

  @else if $tag == 'markdown' {
    background: linear-gradient($dir, $co_card-gradient-markdown);
  }

  @else if $tag == 'template-engine' {
    background: linear-gradient($dir, $co_card-gradient-template-engine);
  }

  @else if $tag == 'svg' {
    background: linear-gradient($dir, $co_card-gradient-svg);
  }

  @else if $tag == 'mac-os' {
    background: linear-gradient($dir, $co_card-gradient-mac-os);
  }
}

@mixin card-shadow ($opacity: 0.1) {
  box-shadow: 0 rem(10) rem(45) rem(-9) rgba(0, 0, 0, $opacity);
}
