/* ==========================================================================
  FONT FAMILIES
========================================================================== */

/* ------------------
  Sky text
------------------ */

@font-face {
  font-family: 'SkyText';
  font-style: normal;
  font-weight: 400;
  src: url('//nst.sky.it/etc/designs/skycommon/fonts/sky_reg-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkyText';
  font-style: italic;
  font-weight: 400;
  src: url('//nst.sky.it/etc/designs/skycommon/fonts/sky_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkyText';
  font-style: normal;
  font-weight: 500;
  src: url('//nst.sky.it/etc/designs/skycommon/fonts/sky_med-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SkyText';
  font-style: normal;
  font-weight: 700;
  src: url('//nst.sky.it/etc/designs/skycommon/fonts/sky_bold-webfont.woff') format('woff');
}

/* ------------------
  Tinos (from Google Fonts)
------------------ */

// TODO: correct path

@font-face {
  font-family: 'Tinos Bold';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../font/Tinos-Bold.woff2') format('woff2'),
    url('../../font/Tinos-Bold.woff') format('woff'),
    url('../../font/Tinos-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Tinos Bold Italic';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../font/Tinos-BoldItalic.woff2') format('woff2'),
    url('../../font/Tinos-BoldItalic.woff') format('woff'),
    url('../../font/Tinos-BoldItalic.otf') format('opentype');
}

/* ==========================================================================
  Font families and weights
========================================================================== */

$font-sans:             'SkyText', Arial, Tahoma, Verdana, sans-serif;
$font-serif--bold:      'Tinos Bold', 'Times New Roman', Times, serif;

$font-family-default:   $font-sans;

/* ------------------
  Font - sans serif
------------------ */

$font-sans-weight-regular:      400;
$font-sans-weight-medium:       500;
$font-sans-weight-bold:         bold;

@mixin t-weight--regular {
  font-weight: $font-sans-weight-regular;
}

@mixin t-style--italic {
  font-style: italic;
}

@mixin t-weight--medium {
  font-weight: $font-sans-weight-medium;
}

@mixin t-weight--bold {
  font-weight: $font-sans-weight-bold;
}

/* ------------------
  Font - serif
------------------ */

$font-serif-weight-bold:      bold;

@mixin t-serif--bold {
  @include t-weight--bold;

  font-family: $font-serif--bold;
}

@mixin t-serif--bold-italic {
  @include t-weight--bold;
  @include t-style--italic;

  font-weight: $font-serif-weight-bold;
}
