/* ==========================================================================
  TYPOGRAPHY
========================================================================== */

$ty_font-size-base: rem(16);
$ty_font-family-default: 'Montserrat', sans-serif;
$ty_font-family-code: 'Fira Code', monospace;
$font-sans-weight-default: 400;
$font-sans-weight-medium: 500;
$font-sans-weight-bold: 600; // TODO: check if exists in Fira Code font!

$ty_font-size-small: rem(12);
$ty_font-size-xsmall: rem(10);

$map-paragraph-l: (
  mobile: (
    fontsize:   rem(16),
    lineheight: 1.4,
  ),
  tablet: (
    fontsize:   rem(18),
    lineheight: 1.4,
  ),
  desktop: (
    fontsize:   rem(20),
    lineheight: 1.4,
  ),
);

@mixin ty-paragraph--l {
  font-size: map-deep-get($map-paragraph-l, 'mobile', 'fontsize');
  // font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-paragraph-l, 'mobile', 'lineheight');

  @include mq(tablet) {
    font-size: map-deep-get($map-paragraph-l, 'tablet', 'fontsize');
    // font-weight: $font-sans-weight-medium;
    line-height: map-deep-get($map-paragraph-l, 'tablet', 'lineheight');
  }

  @include mq(desktop) {
    font-size: map-deep-get($map-paragraph-l, 'desktop', 'fontsize');
    // font-weight: $font-sans-weight-medium;
    line-height: map-deep-get($map-paragraph-l, 'desktop', 'lineheight');
  }
}
