/* ==========================================================================
  TYPOGRAPHY
========================================================================== */

$ty_font-size-base: rem(16);
$ty_font-family-default: 'Montserrat', sans-serif;
$ty_font-family-code: 'Fira Code', monospace;
$font-sans-weight-medium: 500;
$font-sans-weight-bold: 600; // TODO: check if exists in Fira Code font!

$ty_font-size-small: rem(12);
