/* ==========================================================================
  HEADINGS
========================================================================== */

$ty_headings-line-height: 1.2;

/* ------------------
  Headings maps
------------------ */

// XL

$map-heading-xl: (
  mobile: rem(34),
  tablet: rem(40),
  desktop: rem(48),
);

// L

$map-heading-l: (
  mobile: rem(28),
  tablet: rem(31),
  desktop: rem(38),
);

// M

$map-heading-m: (
  mobile: rem(23),
  tablet: rem(25),
  desktop: rem(28),
);

// S

$map-heading-s: (
  mobile: rem(19),
  tablet: rem(20),
  desktop: rem(24),
);

/* ------------------
  Headings rules
------------------ */

/* ------------------
  Headings - XL
------------------ */

@mixin ty-heading--xl {
  font-size: map-get($map-heading-xl, 'mobile');
  font-weight: $font-sans-weight-medium;
  line-height: $ty_headings-line-height;

  @include mq(tablet) {
    font-size: map-get($map-heading-xl, 'tablet');
  }

  @include mq(desktop) {
    font-size: map-get($map-heading-xl, 'desktop');
  }
}

/* ------------------
  Headings - L
------------------ */

@mixin ty-heading--l {
  font-size: map-get($map-heading-l, 'mobile');
  font-weight: $font-sans-weight-medium;
  line-height: $ty_headings-line-height;

  @include mq(tablet) {
    font-size: map-get($map-heading-l, 'tablet');
  }

  @include mq(desktop) {
    font-size: map-get($map-heading-l, 'desktop');
  }
}

/* ------------------
  Headings - M
------------------ */

@mixin ty-heading--m {
  font-size: map-get($map-heading-m, 'mobile');
  font-weight: $font-sans-weight-medium;
  line-height: $ty_headings-line-height;

  @include mq(tablet) {
    font-size: map-get($map-heading-m, 'tablet');
  }

  @include mq(desktop) {
    font-size: map-get($map-heading-m, 'desktop');
  }
}

/* ------------------
  Headings - S
------------------ */

@mixin ty-heading--s {
  font-size: map-get($map-heading-s, 'mobile');
  font-weight: $font-sans-weight-medium;
  line-height: $ty_headings-line-height;

  @include mq(tablet) {
    font-size: map-get($map-heading-s, 'tablet');
  }

  @include mq(desktop) {
    font-size: map-get($map-heading-s, 'desktop');
  }
}

// ==========================================

h1 {
  @include ty-heading--xl;
}

h2 {
  @include ty-heading--l;
}

h3 {
  @include ty-heading--m;
}

h4,
h5,
h6 {
  @include ty-heading--s;
}
