/* ==========================================================================
  ELEMENT

  General text, not body text nor heading text nor article heading
========================================================================== */

/* ------------------
  Element maps
------------------ */

/* ------------------
  L
------------------ */

$map-element-l: (
  mobile: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(1)
  ),
  tablet: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(1)
  ),
  desktop: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(1)
  ),
);

/* ------------------
  L extended
------------------ */

$map-element-l-extended: (
  mobile: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(2)
  ),
  tablet: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(2)
  ),
  desktop: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(2)
  ),
);

/* ------------------
  M
------------------ */

$map-element-m: (
  mobile: (
    fontsize:   rem(12),
    lineheight: rem(16),
    letterspacing: rem(1)
  ),
  tablet: (
    fontsize:   rem(12),
    lineheight: rem(16),
    letterspacing: rem(1)
  ),
  desktop: (
    fontsize:   rem(14),
    lineheight: rem(18),
    letterspacing: rem(1)
  ),
);

/* ------------------
  S
------------------ */

$map-element-s: (
  mobile: (
    fontsize:   rem(12),
    lineheight: rem(16),
    letterspacing: rem(1)
  ),
  tablet: (
    fontsize:   rem(12),
    lineheight: rem(16),
    letterspacing: rem(1)
  ),
  desktop: (
    fontsize:   rem(12),
    lineheight: rem(16),
    letterspacing: rem(1)
  ),
);

/* ------------------
  XS
------------------ */

$map-element-xs: (
  mobile: (
    fontsize:   rem(10),
    lineheight: rem(12),
    letterspacing: rem(1)
  ),
  tablet: (
    fontsize:   rem(10),
    lineheight: rem(12),
    letterspacing: rem(1)
  ),
  desktop: (
    fontsize:   rem(10),
    lineheight: rem(12),
    letterspacing: rem(1)
  ),
);

/* ------------------
  Headings rules
------------------ */

/* ------------------
  L
------------------ */

@mixin t-element--l-mobile {
  font-size: map-deep-get($map-element-l, 'mobile', 'fontsize');
  font-weight: $font-sans-weight-medium;
  letter-spacing: map-deep-get($map-element-l, 'mobile', 'letterspacing');
  line-height: map-deep-get($map-element-l, 'mobile', 'lineheight');
}

@mixin t-element--l-tablet {
  font-size: map-deep-get($map-element-l, 'tablet', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-l, 'tablet', 'lineheight');
}

@mixin t-element--l-desktop {
  font-size: map-deep-get($map-element-l, 'desktop', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-l, 'desktop', 'lineheight');
}

@mixin t-element--l {
  @include t-element--l-mobile;

  text-transform: uppercase;

  @include mq(tablet) {
    @include t-element--l-tablet;
  }

  @include mq(desktop) {
    @include t-element--l-desktop;
  }
}

/* ------------------
  L extended
------------------ */

@mixin t-element--l-extended-mobile {
  font-size: map-deep-get($map-element-l-extended, 'mobile', 'fontsize');
  font-weight: $font-sans-weight-medium;
  letter-spacing: map-deep-get($map-element-l-extended, 'mobile', 'letterspacing');
  line-height: map-deep-get($map-element-l-extended, 'mobile', 'lineheight');
}

@mixin t-element--l-extended-tablet {
  font-size: map-deep-get($map-element-l-extended, 'tablet', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-l-extended, 'tablet', 'lineheight');
}

@mixin t-element--l-extended-desktop {
  font-size: map-deep-get($map-element-l-extended, 'desktop', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-l-extended, 'desktop', 'lineheight');
}

@mixin t-element--l-extended {
  @include t-element--l-extended-mobile;

  text-transform: uppercase;

  @include mq(tablet) {
    @include t-element--l-extended-tablet;
  }

  @include mq(desktop) {
    @include t-element--l-extended-desktop;
  }
}

/* ------------------
  M
------------------ */

@mixin t-element--m-mobile {
  font-size: map-deep-get($map-element-m, 'mobile', 'fontsize');
  font-weight: $font-sans-weight-medium;
  letter-spacing: map-deep-get($map-element-m, 'mobile', 'letterspacing');
  line-height: map-deep-get($map-element-m, 'mobile', 'lineheight');
}

@mixin t-element--m-tablet {
  font-size: map-deep-get($map-element-m, 'tablet', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-m, 'tablet', 'lineheight');
}

@mixin t-element--m-desktop {
  font-size: map-deep-get($map-element-m, 'desktop', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-m, 'desktop', 'lineheight');
}

@mixin t-element--m {
  @include t-element--m-mobile;

  text-transform: uppercase;

  @include mq(tablet) {
    @include t-element--m-tablet;
  }

  @include mq(desktop) {
    @include t-element--m-desktop;
  }
}

/* ------------------
  S
------------------ */

@mixin t-element--s-mobile {
  font-size: map-deep-get($map-element-s, 'mobile', 'fontsize');
  font-weight: $font-sans-weight-medium;
  letter-spacing: map-deep-get($map-element-s, 'mobile', 'letterspacing');
  line-height: map-deep-get($map-element-s, 'mobile', 'lineheight');
}

@mixin t-element--s-tablet {
  font-size: map-deep-get($map-element-s, 'tablet', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-s, 'tablet', 'lineheight');
}

@mixin t-element--s-desktop {
  font-size: map-deep-get($map-element-s, 'desktop', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-s, 'desktop', 'lineheight');
}

@mixin t-element--s {
  @include t-element--s-mobile;

  text-transform: uppercase;

  @include mq(tablet) {
    @include t-element--s-tablet;
  }

  @include mq(desktop) {
    @include t-element--s-desktop;
  }
}

/* ------------------
  XS
------------------ */

@mixin t-element--xs-mobile {
  font-size: map-deep-get($map-element-xs, 'mobile', 'fontsize');
  font-weight: $font-sans-weight-medium;
  letter-spacing: map-deep-get($map-element-xs, 'mobile', 'letterspacing');
  line-height: map-deep-get($map-element-xs, 'mobile', 'lineheight');
}

@mixin t-element--xs-tablet {
  font-size: map-deep-get($map-element-xs, 'tablet', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-xs, 'tablet', 'lineheight');
}

@mixin t-element--xs-desktop {
  font-size: map-deep-get($map-element-xs, 'desktop', 'fontsize');
  font-weight: $font-sans-weight-medium;
  line-height: map-deep-get($map-element-xs, 'desktop', 'lineheight');
}

@mixin t-element--xs {
  @include t-element--xs-mobile;

  text-transform: uppercase;

  @include mq(tablet) {
    @include t-element--xs-tablet;
  }

  @include mq(desktop) {
    @include t-element--xs-desktop;
  }
}
