/* ==========================================================================
  TYPOGRAPHY
========================================================================== */

$ty_font-size-base: rem(16);
$ty_font-family-default: 'Montserrat', sans-serif;
$ty_font-family-code: 'Fira Code', monospace;
$font-sans-weight-default: 400;
$font-sans-weight-medium: 500;
$font-sans-weight-bold: 600;

$ty_font-size-small: rem(12);
$ty_font-size-xsmall: rem(10);

$ty_body-line-height: 1.65;

$map-paragraph-l: (
  mobile: rem(16),
  tablet: rem(18),
  desktop: rem(20),
);

@mixin ty-paragraph--l {
  font-size: map-get($map-paragraph-l, 'mobile');
  line-height: $ty_body-line-height;

  @include mq(tablet) {
    font-size: map-get($map-paragraph-l, 'tablet');
  }

  @include mq(desktop) {
    font-size: map-get($map-paragraph-l, 'desktop');
  }
}

body {
  font-family: $ty_font-family-default;
  line-height: $ty_body-line-height;
}
