<section class="c-hero">
  <img class="c-hero__img" src="https://wallpaperplay.com/walls/full/5/9/2/289339.jpg" alt="">
  <div class="l-main">
    <h1>My awesome blog 🚀</h1>
    <p>This is where I write everything I think it'd be helpful to someone else or - you know - the future me.</p>
    <a href="#">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.121 125.966a9.821 9.821 0 00-13.893 0L256.005 365.194 16.771 125.966a9.821 9.821 0 00-13.893 0 9.821 9.821 0 000 13.893l246.18 246.175a9.819 9.819 0 0013.893 0l246.17-246.175a9.821 9.821 0 000-13.893z"/></svg>
    </a>
  </div>
</section>
