<section class="c-hero">
  <img class="c-hero__img" src="<%= hero.img %>" alt="">
  <% if (hero.title && hero.subtitle) { %>
    <div class="l-main">
      <h1><%- hero.title %></h1>
      <h2 class="c-hero__subtitle"><%= hero.subtitle %></h2>
    </div>
  <% } %>
</section>
