/* ==========================================================================
  FOCUSABLE
========================================================================== */

// https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2

*:focus {
  .user-is-tabbing & {
    box-shadow: 0 0 1px 1px $color-focus-ring;
    outline: 0;
  }

  body:not(.user-is-tabbing) & {
    box-shadow: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }
}
