/* ==========================================================================
  LIST RESET
========================================================================== */

/* ------------------
  Usage

  <ul> @extend %list-reset;
------------------ */

%list-reset {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* ------------------
  Usage

  <li> @extend %list-item-reset;
------------------ */

%list-item-reset {
  margin-bottom: 0;
  padding-left: 0;
}
