/* ==========================================================================
  LIST RESET
========================================================================== */

/* ------------------
  Usage

  <ul> @include list-reset;
------------------ */

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding-inline-start: $sp_variable-m;
  padding-left: 0;

  @include mq(desktop) {
    padding-inline-start: $sp_variable-l;
  }
}

/* ------------------
  Usage

  <li> @include list-item-reset;
------------------ */

@mixin list-item-reset {
  margin-bottom: 0;
  padding-left: 0;
}
