/* ==========================================================================
  ASPECT RATIO

  more info: https://andy-bell.design/wrote/creating-an-aspect-ratio-css-utility/
========================================================================== */

/// Calcs image padding based on image aspect ratio
///
/// @param {number} $width
///   Width of the image or its proportion
/// @param {number} $height
///   Height of the image or its proportion
/// @return {number} padding top percentage based on apsect ratio

@mixin image-padding($width, $height) {
  padding-top: calc(calc(#{$height} / #{$width}) * 100%);
}

@mixin aspect-ratio {
  display: block;
  overflow: hidden;
  position: relative;
}

.o-aspect-ratio {
  @include aspect-ratio;

  /* ------------------
    ratio = 1
  ------------------ */

  &--square {
    @include image-padding(1, 1);
  }

  /* ------------------
    ratio = 16:10
  ------------------ */

  &--16-10 {
    @include image-padding(16, 10);
  }

  /* ------------------
    img
  ------------------ */

  img {
    left: 0;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
  }
}
