/* ==========================================================================
  DISTRIBUTED
========================================================================== */

.o-distributed {
  display: flex;
}

.o-distributed--center {
  justify-content: center;
}

.o-distributed--between {
  justify-content: space-between;
}
