/* ==========================================================================
  DISTRIBUTED
========================================================================== */

@mixin o-distributed--space-between {
  display: flex;
  justify-content: space-between;
}

.o-distributed {

  /* ------------------
    right
  ------------------ */

  &--right-m {
    @include mq($until: tablet) {
      text-align: right;
      width: 100%;
    }
  }

  &--right-t {
    @include mq(tablet, desktop) {
      text-align: right;
      width: 100%;
    }
  }

  &--right-d {
    @include mq(desktop) {
      text-align: right;
      width: 100%;
    }
  }

  /* ------------------
    left
  ------------------ */

  &--left-m {
    @include mq($until: tablet) {
      text-align: left;
      width: 100%;
    }
  }

  &--left-t {
    @include mq(tablet, desktop) {
      text-align: left;
      width: 100%;
    }
  }

  &--left-d {
    @include mq(desktop) {
      text-align: left;
      width: 100%;
    }
  }

  /* ------------------
    space-between
  ------------------ */

  &--space-between-t {
    @include mq(tablet, desktop) {
      @include o-distributed--space-between;

      align-items: center;
    }

    // > * {
    //   flex-grow: 0;
    // }
  }

  &--space-between-d {
    @include mq(desktop) {
      @include o-distributed--space-between;

      align-items: center;
    }

    // > * {
    //   flex-grow: 0;
    // }
  }

  &--space-between-bottom-d {
    @include mq(desktop) {
      @include o-distributed--space-between;

      align-items: flex-end;
    }
  }
}
