/* ==========================================================================
  ICONS
========================================================================== */

.icon__svg {
  display: block;
  fill: currentColor;
  fill-rule: evenodd;
  height: 1em;
  margin: 0 auto;
  width: 1em;
}
