/* ==========================================================================
  LAYOUT
========================================================================== */

.l-main {
  margin: 20px;

  @include mq(desktop) {
    margin: 0 auto;
    max-width: 1024px;
  }
}
