/* ==========================================================================
  LAYOUT
========================================================================== */

.l-main {
  margin: rem(0 20);

  @include mq(wide) { // using 'desktop' 1024, main content at 1024 touches page edges
    margin: 0 auto;
    max-width: rem(1024);
    width: 100vw; // to set a width for articles with less content
  }
}
