<%
  let uimodifiers = '';
  uiContext.containerModifiers.forEach(function(el){
    uimodifiers = `${uimodifiers} ${el}`
  })

  let uicomponentmodifiers = '';
  uiContext.componentModifiers.forEach(function(el){
    uicomponentmodifiers = `${uicomponentmodifiers} ${el}`
  })
%>

<div class="ui-container <%=uimodifiers%>">
  <div class="<%=uicomponentmodifiers%>">
    <!-- COMPONENT start -->
    <%- include('../pagination'); %>
    <!-- COMPONENT end -->
  </div>
</div>

