/* ==========================================================================
  ARTICLE SECTION
========================================================================== */

// .c-article-section {}

.c-article-section__date {
  color: $co_color-light-gray;
  display: block;
  font-size: $ty_font-size-small;
  margin-bottom: $sp_variable-xs;
}

.c-article-section__content { // markup content
  img {
    display: block;
    margin: 0 auto;
  }

  p,
  li,
  a {
    font-size: rem(20);
    line-height: 1.4;
  }

  table { // markdown table with external wrapper
    @include table-styles;
  }
}

.c-article-section__img--medium {
  margin: 0 auto;
  max-width: 70%;
}

.c-article-section__img--small {
  margin: 0 auto;
  max-width: 50%;
}
