/* ==========================================================================
  ARTICLE SECTION
========================================================================== */

.c-article-section__date {
  color: $co_color-medium-gray;
  display: block;
  font-size: $ty_font-size-small;
  margin-bottom: $sp_variable-xs;
}

.c-article-section__toc {
  color: $co_color-medium-gray;

  ol {
    color: var(--co_text);
    margin-bottom: 0;
    padding-inline-start: rem(20);
  }

  nav {
    @include main-border('bottom');
  }
}

.c-article-section__reading-time {
  font-size: $ty_font-size-small;
  font-style: italic;
  margin: $sp_variable-xs 0;
}

.c-article-section__content { // markup content
  @include ty-paragraph--l;

  img {
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: underline;
  }

  // Tables

  table { // markdown table with external wrapper
    @include table-styles;

    // Preserve legibility in mobile viewport
    @include mq($until: tablet) {
      @include table-scrollable-content;
    }
  }

  ul {
    padding-inline-start: $sp_variable-m;

    @include mq(desktop) {
      padding-inline-start: $sp_variable-l;
    }
  }
}

.c-article-section__top {
  @include main-border('bottom');

  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  .c-article-section--custom & {
    margin-bottom: rem(40); // same as <h1> margin-bottom
    padding-bottom: 0;
  }
}

// Tags

.c-article-section__tags {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.c-article-section__tag {
  @include list-item-reset;

  margin-top: $sp_variable-xs;

  & ~ & {
    margin-left: $sp_variable-xs;
  }
}

// Twitter share button

.c-article-section__share {
  height: rem(20); // hotfix because embedded <iframe> for sharing is not perfectly aligne

  .btn { // twitter class
    background-color: var(--co_text);
  }
}

// Bottom

.c-article-section__bottom {
  @include main-border('top');

  margin-top: $sp_variable-xl;

  .c-button {
    @include mq($until: tablet) {
      margin-top: $sp_variable-m;
    }
  }
}
