/* ==========================================================================
  ARTICLE SECTION
========================================================================== */

.c-article-section__top {
  display: grid;
  gap: $sp_variable-xs;
  grid-template-areas:
    'info .'
    'tags .';

  .c-article-section--custom & {
    margin-bottom: rem(40); // same as <h1> margin-bottom
    padding-bottom: 0;
  }
}

// Tags

.c-article-section__tags {
  @extend %list-reset;

  display: flex;
  grid-area: tags;
  overflow-x: auto;
  white-space: nowrap;
}

.c-article-section__tag {
  @extend %list-item-reset;

  & ~ & {
    margin-left: $sp_variable-xs;
  }
}

// Wrapper toc+share

.c-article-section__toc-share {
  @include main-border('bottom');

  padding-bottom: $sp_variable-s; // override of main-border padding-bottom (m)
  position: relative; // tweet button is in absolute
}

// Twitter share button

.c-article-section__share {
  height: rem(20); // hotfix because embedded <iframe> for sharing is not perfectly aligne
  position: absolute;
  right: 0;
  text-align: right;
  top: rem(5); // visually aligned

  @include mq(tablet) {
    margin-top: auto;
  }

  .btn { // twitter class
    background-color: var(--co_text);
  }
}

.c-article-section__info {
  grid-area: info;
  margin: 0;
}

.c-article-section__date {
  color: $co_color-medium-gray;
  font-size: $ty_font-size-small;
  white-space: nowrap;
}

.c-article-section__toc {
  color: $co_color-medium-gray;

  &[open] {
    span {
      text-decoration: underline dotted;
    }
  }

  summary {
    &:hover {
      cursor: pointer;
    }
  }

  ol {
    color: var(--co_text);
    margin-bottom: 0;
    margin-top: $sp_variable-xs;
    padding-inline-start: $sp_variable-m;

    li {
      list-style: disc;
      list-style-position: inside; // both 1st and 2nd level

      ol { // second level
        padding-inline-start: $sp_variable-l;
      }

      li { // second level
        list-style: circle;
      }
    }
  }
}

.c-article-section__reading-time {
  font-size: $ty_font-size-small;
  font-style: italic;
  margin: 0;

  &::before {
    content: '—';
    font-style: normal; // override italic
    padding-right: $sp_variable-xs;
  }
}

.c-article-section__content { // markup content
  @include ty-paragraph--l;

  img {
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--co_palette);
    }
  }

  // Tables

  table { // markdown table with external wrapper
    @include table-styles;

    // Preserve legibility in mobile viewport
    @include mq($until: tablet) {
      @include table-scrollable-content;
    }
  }

  // list

  ul {
    padding-inline-start: $sp_variable-m;

    @include mq(desktop) {
      padding-inline-start: $sp_variable-l;
    }
  }

  // markdown it anchor

  .j-header-anchor {
    opacity: 0;
    text-decoration: none;
    transition: opacity 0.6s ease;

    &:hover {
      opacity: 1;
      transition: opacity 0.6s ease;
    }
  }

  // scroll to headers has a little margin-top (prevent reading scrollbars goes above)

  h2,
  h3,
  h4 {
    scroll-margin-top: $sp_variable-m;
  }
}

// Bottom

.c-article-section__bottom {
  @include main-border('top');

  margin-top: $sp_variable-xl;

  .c-button {
    @include mq($until: tablet) {
      margin-top: $sp_variable-m;
    }
  }
}

.c-article-section__bottom-links {
  margin-bottom: rem(10);

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }

  /* stylelint-disable */
  a { // link to crossposts for comments
    text-decoration: underline;

    &:hover {
      color: var(--co_palette);
    }
  }
  /* stylelint-enable */

  p {
    margin: 0;
  }
}
