/* ==========================================================================
  BUTTON
========================================================================== */

.c-button {
  @include button-reset;

  background: $co_color-main;
  border-radius: $sp_main-border-radius;
  color: $co_color-light;
  display: inline-block;
  font-size: $ty_font-size-base;
  min-width: 150px;
  padding: 10px 20px;

  &:hover {
    background: $co_color-main-tint-10;
    color: $co_color-light; // override <a> hover color
    text-decoration: none; // override <a> hover decoration
  }
}

/* ---------------
  Secondary
--------------- */

.c-button--secondary {
  background: $co_color-light;
  color: $co_color-main;

  &:hover {
    background: $co_color-main;
    color: $co_color-light;
  }
}

/* ---------------
  Border
--------------- */

.c-button--border {
  background: $co_color-light;
  border: 1px solid $co_color-main;
  color: $co_color-main;

  &:hover {
    background: $co_color-main;
    color: $co_color-light;
  }
}
