/* ==========================================================================
  BUTTON
========================================================================== */

.c-button {
  @include button-reset;

  background: $co_color-main;
  border-radius: $sp_main-border-radius;
  color: $co_color-light;
  font-size: $ty_base-font-size;
  min-width: 150px;
  padding: 10px;

  &:hover {
    background: $co_color-main-tint-10;
  }
}

/* ---------------
  Secondary
--------------- */

.c-button--secondary {
  background: $co_color-light;
  color: $co_color-main;

  &:hover {
    background: $co_color-light;
    // color: $co_color-light;
  }
}
