/* ==========================================================================
  CARD
========================================================================== */

$sp_card-content-padding: $sp_variable-m;
$sp_card-highlight: rem(10);
$sp_card-border-radius: rem(2);

.c-card {
  @include card-shadow;

  border-radius: $sp_card-border-radius;
  overflow: hidden;
  position: relative;
}

.c-card--horizontal {
  display: flex;

  @include mq(desktop) {
    height: rem(200);
  }
}

.c-card__img-wrapper {
  position: relative;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    /* --------------
      Colors by page
    -------------- */

    @for $i from 1 through 5 {
      .t-palette-color--#{$i} & {
        background-color: var(--co_palette-#{$i}--lighten);
        color: $co_color-light;
      }
    }
  }

  .icon {
    bottom: $sp_variable-m;
    color:$co_color-light;
    height: auto;
    opacity: 0.5;
    position: absolute;
    right: $sp_variable-m;
    width: rem(100);
  }

  .icon-nodejs {
    width: rem(140); // custom size
  }

  .icon-design-system {
    width: rem(140); // custom size
  }

  .c-card--squared-image & {
    @include mq($until: tablet) {
      display: none;
    }
    // @include image-padding(20, 6); // shorter

    @include mq(tablet) {
      @include aspect-ratio;
      @include image-padding(1, 1); // square
    }
  }

  .c-card--squared-image.c-card--horizontal & {
    // flex-basis: rem(10);
    padding-top: 0;

    @include mq(desktop) {
      flex-basis: rem(300);
      flex-shrink: 0;
    }
  }
}

@mixin card-highlight-left {
  padding-left: $sp_card-content-padding + $sp_card-highlight;

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $sp_card-highlight;
  }
}

.c-card__content {
  padding: $sp_card-content-padding $sp_card-content-padding rem(74) $sp_card-content-padding; // bottom padding needed for date/tags position absolute

  .c-card--highlight-left & {
    @include card-highlight-left;
  }

  .c-card--highlight-top & {
    padding-top: $sp_card-content-padding + $sp_card-highlight;

    &::before {
      content: '';
      height: $sp_card-highlight;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .c-card--squared-image & { // Image does not fit in mobile viewport
    @include mq($until: desktop) {
      @include card-highlight-left;
    }
  }

  /* --------------
    Colors by page
  -------------- */

  @for $i from 1 through 5 {
    .t-palette-color--#{$i} &::before {
      background-color: var(--co_palette-#{$i}--lighten);
      color: $co_color-light;
    }
  }
}

// .c-card__title {}

.c-card__title-heading {
  @include ty-heading--m;

  font-weight: $font-sans-weight-bold;

  @include mq(tablet) { // TODO: check how override mixin without this terrible code!
    font-weight: $font-sans-weight-bold;
  }

  @include mq(desktop) {
    font-weight: $font-sans-weight-bold;
  }

  margin-bottom: $sp_variable-s;
  margin-top: 0;
  text-transform: uppercase;

  .c-card--highlight-top &, // expanded version
  .c-card--highlight-left & {
    margin-bottom: $sp_variable-m;
  }
}

.c-card__abstract {
  margin-top: 0;
}

.c-card__bottom {
  bottom: $sp_variable-m;
  position: absolute;
  right: $sp_variable-m;
  text-align: right;
}

.c-card__date {
  color: $co_color-light-gray;
  display: block;
  font-size: $ty_font-size-small;
  margin-bottom: $sp_variable-xs;
}

.c-card__number {
  @include card-shadow(0.3);

  border-radius: $sp_card-border-radius;
  color: $co_color-light;
  float: right;
  margin-left: $sp_variable-xs; // just to make sure title does not go on the TIL number
  padding: rem(5 10);

  &::after {
    clear: right; // clean float: right
  }

  // Colors

  @for $i from 1 through 5 {
    .t-palette-color--#{$i} & {
      background-color: var(--co_palette-#{$i}--lighten);
      color: $co_color-light;
    }
  }
}

.c-card__tags {
  .c-label {
    display: inline-block;
    margin-top: rem(5);
  }
}

// Raw content

.c-card__raw-content {
  // heading styles

  .c-card--highlight-top &, // expanded version
  .c-card--highlight-left & {
    h2 {
      @include ty-heading--m;
    }

    h3,
    h4,
    h5,
    h6 {
      @include ty-heading--s;
    }
  }

  // table styles

  table {
    @include table-styles;

    // Preserve legibility in mobile viewport
    @include mq($until: tablet) {
      @include table-scrollable-content;
    }
  }

  // link styles

  a {
    text-decoration: underline;
  }
}
