/* ==========================================================================
  CARD
========================================================================== */

$sp_card-content-padding: $sp_variable-m;
$sp_card-highlight: rem(10);

$co_card-gradient-git: #eb3349, #f45c43;
$co_card-gradient-vuejs: #11998e, #38ef7d;
$co_card-gradient-javascript: #f2994a, #f2c94c;
$co_card-gradient-visual-studio-code: #1a2980, #26d0ce;

@mixin card-gradient($dir, $tag) {
  @if $tag == 'git' {
    background: linear-gradient($dir, $co_card-gradient-git);
  }

  @else if $tag == 'vuejs' {
    background: linear-gradient($dir, $co_card-gradient-vuejs);
  }

  @else if $tag == 'javascript' {
    background: linear-gradient($dir, $co_card-gradient-javascript);
  }

  @else if $tag == 'visual-studio-code' {
    background: linear-gradient($dir, $co_card-gradient-visual-studio-code);
  }
}

.c-card {
  border-radius: rem(2);
  box-shadow: 0 rem(10) rem(45) rem(-9) rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.c-card__img-wrapper {
  position: relative;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    .c-card--git & {
      @include card-gradient(to right, 'git');
    }

    .c-card--visual-studio-code & {
      @include card-gradient(to right, 'visual-studio-code');
    }

    .c-card--vuejs & {
      @include card-gradient(to right, 'vuejs');
    }

    .c-card--javascript & {
      @include card-gradient(to right, 'javascript');
    }
  }

  .icon {
    bottom: $sp_variable-m;
    color:$co_color-light;
    height: auto;
    opacity: 0.5;
    position: absolute;
    right: $sp_variable-m;
    width: rem(100);
  }

  .c-card--squared-image & {
    @include aspect-ratio;
    @include image-padding(20, 6); // shorter

    @include mq(tablet) {
      @include image-padding(1, 1); // square
    }
  }
}

.c-card__content {
  padding: $sp_card-content-padding;

  .c-card--highlight-left & {
    padding-left: $sp_card-content-padding + $sp_card-highlight;

    &::before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: $sp_card-highlight;
    }
  }

  .c-card--highlight-top & {
    padding-top: $sp_card-content-padding + $sp_card-highlight;

    &::before {
      content: '';
      height: $sp_card-highlight;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  // colors by category

  .c-card--highlight-left.c-card--git &::before {
    @include card-gradient(to bottom, 'git');
  }

  .c-card--highlight-top.c-card--git &::before {
    @include card-gradient(to right, 'git');
  }

  .c-card--highlight-left.c-card--visual-studio-code &::before {
    @include card-gradient(to bottom, 'visual-studio-code');
  }

  .c-card--highlight-top.c-card--visual-studio-code &::before {
    @include card-gradient(to right, 'visual-studio-code');
  }

  .c-card--highlight-left.c-card--javascript &::before {
    @include card-gradient(to bottom, 'javascript');
  }

  .c-card--highlight-top.c-card--javascript &::before {
    @include card-gradient(to right, 'javascript');
  }

  .c-card--highlight-left.c-card--vuejs &::before {
    @include card-gradient(to bottom, 'vuejs');
  }

  .c-card--highlight-top.c-card--vuejs &::before {
    @include card-gradient(to right, 'vuejs');
  }
}

// .c-card__title {}

.c-card__title-heading {
  @include ty-heading--m;

  margin-bottom: $sp_variable-s;
  margin-top: 0;
}

.c-card__abstract {
  margin-bottom: rem(60);
  margin-top: 0;
}

.c-card__bottom {
  bottom: $sp_variable-m;
  position: absolute;
  right: $sp_variable-m;
  text-align: right;
}

.c-card__date {
  color: $co_color-light-gray;
  display: block;
  font-size: $ty_font-size-small;
  margin-bottom: $sp_variable-xs;
}
