/* ==========================================================================
  FILTER
========================================================================== */

$sp_filter-margin: $sp_variable-xs;

// .c-filter {}

.c-filter__legend {
  margin-bottom: $sp_variable-s;
}

.c-filter__list {
  @include list-reset;

  display: flex;
  flex-flow: wrap;
}

.c-filter__item {
  margin-top: $sp_filter-margin;

  &:not(:last-child) {
    margin-right: $sp_filter-margin;
  }
}
