/* ==========================================================================
  FOOTER
========================================================================== */

.c-footer {
  background-color: $co_color-city-lights;
  // background-color: var(--co_palette);

  [data-theme= 'dark'] & {
    background-color: $co_color-palette-dark-darken2;
  }

  .l-main {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.c-footer__group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  // padding: $sp_variable-m 0;
}

.c-footer__theme-switcher {
  margin-right: auto;
}

.c-footer__link {
  color: var(--co_text);
  padding: $sp_variable-s;

  &:hover {
    opacity: 0.6;
  }

  .c-footer__link ~ & {
    margin-left: $sp_variable-s;
  }

  .icon {
    height: rem(30);
    width: rem(30);
  }
}
