/* ==========================================================================
  FOOTER
========================================================================== */

.c-footer {
  background-color: $co_color-city-lights;
  // background-color: var(--co_palette);

  [data-theme= 'dark'] & {
    background-color: $co_color-palette-dark-darken2;
  }

  .l-main {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.c-footer__group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  position: relative; // copyright is in position absolute

  @include mq(tablet) {
    justify-content: flex-end;
  }
}

.c-footer__copyright {
  [data-theme= 'light'] & {
    color: $co_color-dark-gray;
  }

  font-size: $ty_font-size-small;
  margin: 0;

  @include mq($until: tablet) {
    flex-basis: 100%;
    margin-bottom: 10px;
    order: 3;
    text-align: center;

    // heart visually centered
    transform: translateX(-7px);
  }

  @include mq(tablet) {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  span { // heart emoji
    color: transparent;
    font-size: rem(9);
    opacity: 0.7;
    text-shadow: 0 0 0 var(--co_text);
  }
}

.c-footer__theme-switcher {
  @include mq($until: tablet) {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include mq(tablet) {
    margin-right: auto;
  }
}

.c-footer__socials {
  display: flex; // fix <a> padding height overflow
}

.c-footer__link {
  color: var(--co_text);
  // note: use 30px and not rem(30) because SVG height is expressed in px
  height: calc(30px + #{$sp_variable-s * 2}); // 30px = SVG height, 40px = $sp_variable-s * 2
  padding: $sp_variable-s;

  &:hover {
    opacity: 0.6;
  }

  .c-footer__link ~ & {
    margin-left: $sp_variable-s;
  }

  .icon {
    height: rem(30);
    width: rem(30);
  }
}
