/* ==========================================================================
  HERO
========================================================================== */

.c-hero {
  color: $co_color-light;
  padding: 150px 0;
  position: relative;
  text-align: center;
}

.c-hero__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.c-hero__subtitle {
  @include ty-heading--s;
}

.c-hero__scroll-down {
  color: $co_color-light;
}
