/* ==========================================================================
  HERO
========================================================================== */

.c-hero {
  align-items: center;
  background-color: var(--co_palette);
  color: $co_color-light;
  display: flex;
  min-height: rem(350);
  position: relative;
  text-align: center;

  .l-main {
    position: relative; // FIXME: necessary to have gradient below the text!
    width: 100%; // center text on mobile
  }
}

// Hero with background image

.c-hero--bg-img {
  color: $co_color-light;
  min-height: rem(500);
  text-shadow: rgba($co_color-solid-black, 0.5) 0 0 rem(10); // text shadow for legibility
}

.c-hero--quote {
  font-style: italic;

  @include mq($until: tablet) {
    padding: rem(50) rem(20); // hamburger occupies space!
  }
}

.c-hero__quote { // quote but not author
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 80%;
  }

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

.c-hero__title-custom { // ex. Tagged post "git" --> git has custom styles
  @include ty-heading--m;

  border-bottom: rem(1) dashed $co_color-light;
  font-weight: $font-sans-weight-bold;
  text-transform: uppercase;
}

.c-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: var(--hero-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.c-hero__subtitle {
  @include ty-heading--s;

  .c-hero--quote & {
    margin-bottom: 0;
  }
}

.c-hero__credits { // link to photo
  bottom: 20px;
  color: inherit;
  font-size: $ty_font-size-small;
  position: absolute;
  right: 20px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
