/* ==========================================================================
  LABEL
========================================================================== */

@mixin label-state-active {
  background: rgba($co_color-main, 0.7);
  color: $co_color-light;
}

.c-label {
  background: rgba($co_color-main, 0.07);
  border-radius: $sp_main-border-radius;
  border-radius: rem(100);
  font-size: $ty_font-size-small;
  padding: rem(2 8);
  text-transform: uppercase;

  .c-label + & {
    margin-left: $sp_variable-xs;
  }

  &[data-state= 'active'] {
    @include label-state-active;
  }

  // @for $i from 1 through 5 {
  //   .t-palette-color--#{$i} & {
  //     @include color-palette($i, $inverted: true);
  //   }
  // }
}
