/* ==========================================================================
  THEME SWITCHER
========================================================================== */

.c-theme-switcher__input {
  display: none;
}

.c-theme-switcher__label--dark {
  [data-theme= 'dark'] & {
    display: none;
  }
}

.c-theme-switcher__label--light {
  [data-theme= 'light'] & {
    display: none;
  }
}

.c-theme-switcher__label {
  color: transparent;
  text-shadow: 0 0 0 var(--co_text);

  &:hover {
    cursor: pointer;
  }
}
