<fieldset class="c-filter">
  <legend class="c-filter__legend">Filter by:</legend>
  <ul class="c-filter__list">
    <% filterList.forEach(function(label){ %>
    <li class="c-filter__item">
      <a href="#" class="c-label"><%= label %></a>
    </li>
    <% }); %>
  </ul>
</fieldset>
