
<div class="c-photogrid">
  <% var list = [1,2,3,4] %>
  <% list.forEach(function(item) { %>
    <a class="c-photogrid__item" href="#">
      <img class="c-photogrid__img" src="https://icatcare.org/app/uploads/2018/07/Helping-your-new-cat-or-kitten-settle-in-1.png" alt="">
      <h2 class="c-photogrid__title">Title</h2>
    </a>
  <% }); %>
</div>
