<div class="l-wrapper">
  <!-- header -->
  <%- include('../header/header.ejs'); %>
  <!-- photogrid -->
  <%- include('../photogrid/photogrid.ejs') %>
  <!-- footer -->
  <%- include('../footer/footer.ejs'); %>
</div>
