<body class="tpl-homepage">
  <div class="l-wrapper">
    <div class="l-spacing-m">
      <%- include('../cards-grid/cards-grid.ejs', { cardsGrid: cardsGrid }); %>
    </div>
    <div class="o-distributed o-distributed--center">
      <a class="c-button" href="#">Load more post...</a>
    </div>
  </div>
</body>
