/* ------------------
  Color swatch
------------------ */

// Hide code from docs

article[id^= 'color-palette'] {
  .uie-sot-xl {
    .contentsection:nth-child(2) {
      display: none;
    }
  }

  a[data-test-variant-tab-link= 'code'] {
    display: none;
  }
}

.ui-color-swatch {
  background-color: var(--color-light);
  border-radius: $sp_space-xxs;
  box-shadow: 0px 3px 5px 0px #9e9e9ebf;
  flex: 0 1 rem(315);
  margin: $sp_space-xs;

  code {
    font-size: 14px;
  }

  &--accent {
    display: none;

    .ui--dark & {
      display: block;
    }
  }

  &__bg {
    background-color: #333;
    border-top: 1px solid #f2f2f2;
    border-top-left-radius: $sp_space-xxs;
    border-top-right-radius: $sp_space-xxs;
    box-shadow: 0px 1px 1px 0px #9e9e9e33;
    height: rem(120);

    &--primaryLight {
      background: var(--color-main-light);
    }

    &--primaryDark {
      background: var(--color-main-dark);
    }

    &--secondaryDark {
      background: var(--color-solid-dark);
    }

    &--secondaryMedium {
      background: var(--color-medium);
    }

    &--secondaryMediumLight1 {
      background: var(--color-medium-light-1);
    }

    &--secondaryMediumLight2 {
      background: var(--color-medium-light-2);
    }

    &--secondaryMediumLight3 {
      background: var(--color-medium-light-3);
    }

    &--secondaryLight {
      background: var(--color-light);
    }

    &--accent {
      background: var(--color-accent);
    }

    &--gradient {
      @include linear-gradient(var(--color-gradient-1), var(--color-gradient-2));
    }

    &--gradientGlobal {
      @extend %linear-gradient-global;
    }
  }

  &__info {
    border-collapse: collapse;
    padding: $sp_space-xs;
    width: 100%;

    tr {
      td {
        padding: $sp_space-xs;

        &:last-child {
          width: 100%;
        }
      }
    }
  }

  &__key {
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &__theme {
    display: none;

    &--tg24 {
      .ui--tg24 & {
        display: block;
      }
    }

    &--dark {
      .ui--dark & {
        display: block;
      }
    }

    &--light {
      .ui--light & {
        display: block;
      }
    }
  }

  &__value {
    text-align: right;
  }
}

/* ------------------
  Color palette
------------------ */

.ui-color-palette {
  display: flex;
  flex-wrap: wrap;
}
