/* ==========================================================================
  UIENGINE - TABLES
========================================================================== */

.uie table {
  border-collapse: initial;
  border-spacing: 0;

  tr {
    border-bottom: 1px solid var(--color-medium-light);
  }

  th {
    border-bottom: 1px solid var(--uie-color-border-medium);
  }

  td {
    border-bottom: 1px solid var(--uie-color-border-light);
  }
}
