/* ------------------
  Frame label
------------------ */

.ui-frame-label {
  @include t-body--xs;

  border-radius: 3px;
  color: var(--color-light);
  font-weight: 500;
  padding: 2px 4px;
  position: absolute;
  right: rem(4);
  text-transform: uppercase;
  z-index: $z-10;

  .ui--tg24 & {
    background-color: var(--skytg24-red-light);
  }

  .ui--dark & {
    background-color: var(--skydark-blue);
  }

  .ui--light & {
    background-color: var(--skylight-magenta-light);
  }

  .ui--all & {
    background-color: var(--color-medium);
  }

  .ui-body--external-preview & {
    display: none;
  }
}
