@import '../00-settings/colors';

/* ------------------
  Colors mapping
------------------ */

:root {
  // Neutral palette;
  --color-solid-dark: #{$color-solid-dark};
  --color-dark-2: #{$color-dark-2};
  --color-dark-1: #{$color-dark-1};
  --color-medium: #{$color-medium};
  --color-medium-light-1: #{$color-medium-light-1};
  --color-medium-light-2: #{$color-medium-light-2};
  --color-medium-light-3: #{$color-medium-light-3};
  --color-light: #{$color-light};

  // Sky gradient
  --sky-global-gradient-1: $color-global-gradient-1;
  --sky-global-gradient-2: $color-global-gradient-2;
  --sky-global-gradient-3: $color-global-gradient-3;
  --sky-global-gradient-4: $color-global-gradient-4;
  --sky-global-gradient-5: $color-global-gradient-5;

  // Main colors for theme labels
  --skytg24-red-light: #{$color-tg24-red-light};
  --skydark-blue: #{$color-dark-blue};
  --skylight-magenta-light: #{$color-light-magenta-light};
}

/* ------------------
  Theme colors for
  Swatches component
------------------ */

:root .ui--tg24 {
  --color-main-light: #{$color-tg24-red-light};
  --color-main-dark: #{$color-tg24-red-dark};
  --color-gradient-1: #{$color-tg24-gradient-1};
  --color-gradient-2: #{$color-tg24-gradient-2};
  --color-red-old-brick: #{$color-tg24-red-old-brick};

  /* ------------------
    Components
  ------------------ */

  // Playlist
  --color-playlist: #{$color-tg24-mine-shaft};

  // Shadow
  --color-shadow-horizontal: #{$color-tg24-red-old-brick};
  --color-shadow-vertical: #{$color-tg24-red-light};
  --color-shadow-player: #{$color-tg24-mine-shaft};
}

:root .ui--dark {
  --color-main-light: #{$color-dark-red-light};
  --color-main-dark: #{$color-dark-red-dark};
  --color-red-cinnabar: #{$color-dark-red-cinnabar};
  --color-accent: #{$color-dark-blue};
  --color-gradient-1: #{$color-dark-gradient-1};
  --color-gradient-2: #{$color-dark-gradient-2};

  /* ------------------
    Components
  ------------------ */

  // Playlist
  --color-playlist: #{$color-dark-blue};
  // Shadow
  --color-shadow-horizontal: #{$color-dark-red-cinnabar};
  --color-shadow-vertical: #{$color-dark-red-cinnabar};
  --color-shadow-player: #{$color-dark-blue};
}

:root .ui--light {
  --color-main-light: #{$color-light-magenta-light};
  --color-main-dark: #{$color-light-magenta-dark};
  --color-gradient-1: #{$color-light-gradient-1};
  --color-gradient-2: #{$color-light-gradient-2};

  /* ------------------
    Components
  ------------------ */

  // Playlist
  --color-playlist: #{$color-solid-dark};
  // Shadow
  --color-shadow-horizontal: #{$color-light-magenta-light};
  --color-shadow-vertical: #{$color-light-magenta-dark};
  --color-shadow-player: #{$color-solid-dark};
}
