.ui-markdown {
  &__section {
    background: $color-medium;
    color: $color-light;
    padding: rem(4);
  }
}

// Blockquote style in markdown documentation

.content {
  blockquote {
    background: $color-medium-light-3;
    border-left: rem(8) solid $color-medium-light-1;
    color: $color-medium;
    font-style: italic;
    margin-bottom: rem(20);
    padding: rem(20);
    position: relative;

    &::before {
      color: $color-medium;
      content: '\201C';
      font-size: rem(70);
      left: rem(10);
      position: absolute;
      top: rem(-10);
    }

    > p {
      margin: 0 !important;
      padding-left: rem(25);
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
