/* ==========================================================================
  UI-CONTAINER
========================================================================== */

.ui-container {
  height: 100%;

  &--dark-bg {
    background: repeating-linear-gradient(45deg, #171717, #272727 10px, #272727 10px, #272727 20px);
  }

  &--medium-bg {
    background: repeating-linear-gradient(45deg, #f3f3f3, #fdfdfd 10px, #fdfdfd 10px, #fdfdfd 20px);
  }

  &--disco-club-bg { // from https://cssgradient.io/swatches/
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  }

  .ui-body--external-preview & { // external preview
    min-height: 100vh;
    padding: 0;
  }
}
