/* ==========================================================================
  UIENGINE - LAYOUT
========================================================================== */

.ui-wrapper {
  &.l-wrapper {
    background: #ffe9e4;
  }

  .l-grid {
    background: #ffeaa7;
  }
}

.ui-grid-wireframe {
  &[class^= 'ui-sticky__'] {
    background-color: #fff;
  }
}

// Divider

.ui-divider,
%ui-divider {
  background-color: #ff7675;
  color: var(--color-light);
  margin: 0;
  padding: $sp_space-xxs;
}

.ui-divider--small {
  height: 60px;
}

.ui-divider--tg24 {
  @extend %ui-divider;

  @include linear-gradient(var(--color-gradient-1), var(--color-gradient-2));

  height: 100px;
  padding: 0;
}

.ui-page {
  max-width: 335px;

  @include mq(tablet) {
    max-width: 730px;
  }

  @include mq(desktop) {
    max-width: 650px;
  }
}

.ui-fullpage {
  max-width: 650px;

  @include mq(tablet) {
    max-width: 730px;
  }

  @include mq(desktop) {
    max-width: 988px;
  }
}

.ui-rail {
  max-width: 767px;

  @include mq(tablet) {
    max-width: 1023px;
  }

  @include mq(desktop) {
    max-width: 287px;
  }

  &--transparent {
    background: rgba(255, 255, 255, 0.2);
  }

  &--colored {
    background: rgba(149, 159, 255, 0.2);
    border: 1px solid #00f;
  }
}

// ui spacing

.ui-spacing {
  background: #ffeaa7;
}
