<%
  var navList = ['today I learned', 'tutorials', 'projects', 'about']
%>

<header class="c-header">
  <nav class="c-header__nav l-main">
    <input class="c-header__toggle" type="checkbox" name="checkbox" id="checkboxId" value="value"/>
    <label class="c-header__hamburger" for="checkboxId"></label>
    <ul class="c-header__list">
      <% navList.forEach(function(item){ %>
        <li class="c-header__item">
          <a class="c-header__link" href="#"><%=item%></a>
        </li>
      <% }); %>
    </ul>
  </nav>
</header>
