/* ==========================================================================
  PROFILE PICTURE
========================================================================== */

.s-profile-picture {
  border-radius: rem(3);
  width: rem(200);

  @include mq(desktop) {
    float: right;
  }
}
