/* ==========================================================================
  PROFILE PICTURE
========================================================================== */

.s-profile-picture {
  border-radius: rem(3);
  width: 100%;

  @include mq(tablet) {
    width: rem(200);
  }

  @include mq(tablet) {
    float: right;
    margin-left: rem(40) !important;
  }
}
