/* ==========================================================================
  UTILITY TYPOGRAPHY
========================================================================== */

.u-ty-uppercase {
  text-transform: uppercase;
}

.u-ty-italic {
  font-style: italic;
}

.u-ty-break-t {
  @include mq($until: tablet) {
    display: none;
  }
}
