/* ==========================================================================
  UTILITY GIPHY
========================================================================== */

.u-giphy-centered {
  width: 100%;
}

.s-giphy {
  margin: 0 auto; // center the gif

  // iframe.giphy-embed { // giphy <iframe> class
  //   @include mq($until: tablet) {
  //     width: 100%;
  //   }
  // }

  p { // Set style for "via GIPHY" link at the bottom
    margin: 0;

    > a {
      color: $co_color-light-gray;
      display: block;
      font-size: $ty_font-size-xsmall;
      margin-top: $sp_variable-xxs;
    }
  }
}

.s-giphy--medium-d {
  @include mq(desktop) {
    max-width: 70%;
  }
}

.s-giphy--small-d {
  @include mq(desktop) {
    max-width: 50%;
  }
}
