/* ==========================================================================
  UTILITY TYPOGRAPHY
========================================================================== */

.u-ty-uppercase {
  text-transform: uppercase;
}

.u-ty-italic {
  font-style: italic;
}

.u-ty-break-t {
  @include mq($until: tablet) {
    display: none;
  }
}

.u-link-remove-underline { // Used in article section bottom link "edit on GitLab"
  text-decoration: none !important;
}
