@charset "UTF-8";
/* ==========================================================================
  DEV
========================================================================== */
/**
 * Shades of Purple Theme for Prism.js
 *
 * @author Ahmad Awais <https://twitter.com/MrAhmadAwais/>
 * @support Follow/tweet at https://twitter.com/MrAhmadAwais/
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #9efeff;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-family: 'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-shadow: 0 1px #222245;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  color: inherit;
  background: #a599e9;
}

/* Code blocks. */
pre[class*='language-'] {
  padding: 2em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1e1e3f;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token {
  font-weight: 400;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #b362ff;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ff9d00;
}

.token.operator,
.token.attr-name {
  color: #ffb454;
}

.token.punctuation {
  color: #ffffff;
}

.token.boolean {
  color: #ff628c;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #ff9d00;
}

.token.entity,
.token.symbol {
  color: #6897bb;
}

.token.number {
  color: #ff628c;
}

.token.property,
.token.constant,
.token.variable {
  color: #ff628c;
}

.token.string,
.token.char {
  color: #a5ff90;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: #fad000;
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #00ff00;
}

.token.deleted {
  background: #ff000d;
}

code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

code.language-css .token.id {
  color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}

.token.class-name {
  color: #fb94ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

pre .line-highlight,
pre .line-highlight.line-highlight,
pre > code.line-highlight {
  margin-top: 36px;
  background: linear-gradient(to right, rgba(179, 98, 255, 0.17), transparent);
}

pre .line-highlight:before,
pre > code.line-highlight:before,
pre .line-highlight[data-end]:after,
pre > code.line-highlight[data-end]:after {
  content: '';
}

/* ==========================================================================
  STYLE
========================================================================== */
/* ==========================================================================
  00 - SETTINGS
========================================================================== */
/* ==========================================================================
  MAP DEEP GET
========================================================================== */
/* ==========================================================================
  COLORS
========================================================================== */
/**
 * CSS vars
 */
:root {
  --co_text: #69778f;
  --co_text-tint-10: #78859a;
  --co_background: #fff;
  --co_shadow: rgba(0, 0, 0, 0.1);
  --co_palette: #69778f;
  --co_palette--lighten: #8591a6;
  --co_palette--lighten-hard: #c0c6d1;
}

[data-theme='dark'] {
  --co_text: #fff;
  --co_background: #191935;
  --co_text-tint-10: white;
}

.t-palette-color--1 {
  --co_palette: #ef476f;
  --co_palette--lighten: #f37694;
  --co_palette--lighten-hard: #ffe1e8;
}

[data-theme='dark'] .t-palette-color--1 {
  --co_shadow: rgba(239, 71, 111, 0.4);
}

.t-palette-color--2 {
  --co_palette: #0d3b95;
  --co_palette--lighten: #114ec4;
  --co_palette--lighten-hard: #d7e5ff;
}

[data-theme='dark'] .t-palette-color--2 {
  --co_shadow: rgba(13, 59, 149, 0.4);
}

.t-palette-color--3 {
  --co_palette: #06d6a0;
  --co_palette--lighten: #17f8be;
  --co_palette--lighten-hard: #adffe9;
}

[data-theme='dark'] .t-palette-color--3 {
  --co_shadow: rgba(6, 214, 160, 0.4);
}

.t-palette-color--4 {
  --co_palette: #1b98e0;
  --co_palette--lighten: #45ade9;
  --co_palette--lighten-hard: #ace1ff;
}

[data-theme='dark'] .t-palette-color--4 {
  --co_shadow: rgba(27, 152, 224, 0.4);
}

.t-palette-color--5 {
  --co_palette: #ff9f1c;
  --co_palette--lighten: #ffb54f;
  --co_palette--lighten-hard: #ffe3bd;
}

[data-theme='dark'] .t-palette-color--5 {
  --co_shadow: rgba(255, 159, 28, 0.4);
}

/* ==========================================================================
  MQ CONFIG
========================================================================== */
/* ==========================================================================
  Functions
========================================================================== */
/* ==========================================================================
  Strip unit
========================================================================== */
/* ==========================================================================
  Convert PX to REM
========================================================================== */
/* ==========================================================================
  TYPOGRAPHY
========================================================================== */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.65;
}

/* ==========================================================================
  HEADINGS
========================================================================== */
/* ------------------
  Headings maps
------------------ */
/* ------------------
  Headings rules
------------------ */
/* ------------------
  Headings - XL
------------------ */
/* ------------------
  Headings - L
------------------ */
/* ------------------
  Headings - M
------------------ */
/* ------------------
  Headings - S
------------------ */
h1 {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.9375rem;
  }
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.375rem;
  }
}

h3 {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h3 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.75rem;
  }
}

h4,
h5,
h6 {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }
}

/* ==========================================================================
  01 - TOOLS
========================================================================== */
/* ==========================================================================
  BUTTON RESET
========================================================================== */
/* ==========================================================================
  FIELDSET RESET
========================================================================== */
legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* ==========================================================================
  LIST RESET
========================================================================== */
/* ------------------
  Usage

  <ul> @include list-reset;
------------------ */
/* ------------------
  Usage

  <li> @include list-item-reset;
------------------ */
/* ==========================================================================
  02 - GENERIC (import)
========================================================================== */
/* ==========================================================================
  03 - ELEMENTS
========================================================================== */
/* ==========================================================================
  BASE
========================================================================== */
* {
  box-sizing: border-box;
  font-family: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--co_background);
  color: var(--co_text);
  height: 100%;
  margin: 0;
  padding: 0;
}

body.is-menu-open {
  position: fixed;
  width: 100%;
}

a {
  color: var(--co_text);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--co_text-tint-10);
  text-decoration: underline;
}

code {
  font-family: "Fira Code", monospace;
}

/* ------------------
  Image reset
------------------ */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  /* stylelint-disable */
  color: var(--co_palette--lighten);
  text-transform: uppercase;
  /* stylelint-enable */
}

/* ------------------
  <hr>
------------------ */
hr {
  background-color: #e8e8e8;
  border: none;
  color: #e8e8e8;
  height: 0.0625rem;
}

/* ------------------
  blockquote
------------------ */
blockquote {
  border-left: 0.1875rem solid #e8e8e8;
  margin: 0;
  padding-left: 1.25rem;
}

/* ------------------
  Footer at the bottom trick
------------------ */
html,
body {
  height: 100%;
  margin: 0;
}

.l-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-wrapper .c-footer {
  margin-top: auto;
}

/* ==========================================================================
  SPACING
========================================================================== */
.l-spacing-xs {
  margin-bottom: 0.3125rem !important;
}

.l-spacing-s {
  margin-bottom: 0.625rem !important;
}

.l-spacing-m {
  margin-bottom: 1.25rem !important;
}

.l-spacing-l {
  margin-bottom: 2.5rem !important;
}

.l-spacing-top-m {
  margin-top: 1.25rem !important;
}

/* ==========================================================================
  TABLE
========================================================================== */
.c-table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-table th,
.c-table td {
  padding: 0.625rem;
}

.c-table th:first-child,
.c-table td:first-child {
  padding-left: 0 !important;
}

.c-table th:last-child,
.c-table td:last-child {
  padding-right: 0 !important;
}

/* ==========================================================================
  CODE
========================================================================== */
/**
 * Inline code
 */
:not(pre) > code:not([class^='language-']) {
  background: #f3f3f3;
  padding: 3px;
}

[data-theme='dark'] :not(pre) > code:not([class^='language-']) {
  background: #1e1e3f;
}

/**
 * Prism customization
 */
pre[class*='language-'],
code[class*='language-'] {
  font-size: inherit;
}

.c-code {
  position: relative;
}

.c-code .c-code__copy-button {
  background: transparent;
  border: none;
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  background: #2e2e62;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  line-height: 1.2;
  padding: 0.125rem 0.625rem;
  position: absolute;
  right: 0.625rem;
  text-transform: uppercase;
  top: 0.625rem;
}

.c-code .c-code__copy-button:hover, .c-code .c-code__copy-button:focus {
  background: #3f3f84;
  cursor: pointer;
}

.c-code .c-code__copy-button:focus {
  outline: 0;
}

/* ==========================================================================
  MAIN BORDER
========================================================================== */
/* ==========================================================================
  PARAGRAPH SELECTION
========================================================================== */
p::selection {
  background-color: var(--co_palette--lighten);
  color: #fff;
}

/* ==========================================================================
  04 - OBJECTS
========================================================================== */
/* ==========================================================================
  ASPECT RATIO

  more info: https://andy-bell.design/wrote/creating-an-aspect-ratio-css-utility/
========================================================================== */
.o-aspect-ratio {
  display: block;
  overflow: hidden;
  position: relative;
  /* ------------------
    ratio = 1
  ------------------ */
  /* ------------------
    ratio = 16:10
  ------------------ */
  /* ------------------
    img
  ------------------ */
}

.o-aspect-ratio--square {
  padding-top: calc(calc(1 / 1) * 100%);
}

.o-aspect-ratio--16-10 {
  padding-top: calc(calc(10 / 16) * 100%);
}

.o-aspect-ratio img {
  left: 0;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
}

/* ==========================================================================
  CARDS GRID
========================================================================== */
.o-cards-grid {
  display: grid;
  grid-gap: 1.25rem;
}

@media (min-width: 48em) {
  .o-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .o-cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ==========================================================================
  DISTRIBUTED
========================================================================== */
.o-distributed {
  display: flex;
}

.o-distributed--center {
  justify-content: center;
}

.o-distributed--between {
  justify-content: space-between;
}

/* ==========================================================================
  ICON
========================================================================== */
.icon {
  height: 30px;
  width: 30px;
}

/* ==========================================================================
  LAYOUT
========================================================================== */
.l-main {
  margin: 0rem 1.25rem;
}

@media (min-width: 80em) {
  .l-main {
    margin: 0 auto;
    max-width: 64rem;
    width: 100vw;
  }
}

/* ==========================================================================
  06 - COMPONENTS
========================================================================== */
/* ==========================================================================
  ARTICLE SECTION
========================================================================== */
.c-article-section__top {
  border-bottom: 0.0625rem solid rgba(172, 179, 194, 0.5);
  padding-bottom: 1.25rem;
  display: grid;
  gap: 0.3125rem;
  grid-template-areas: 'info tweet' 'tags tags';
}

@media (min-width: 48em) {
  .c-article-section__top {
    grid-template-areas: 'info .' 'tags tweet';
  }
}

.c-article-section--custom .c-article-section__top {
  margin-bottom: 2.5rem;
  padding-bottom: 0;
}

.c-article-section__tags {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  grid-area: tags;
  overflow-x: auto;
  white-space: nowrap;
}

.c-article-section__tag {
  margin-bottom: 0;
  padding-left: 0;
}

.c-article-section__tag ~ .c-article-section__tag {
  margin-left: 0.3125rem;
}

.c-article-section__share {
  grid-area: tweet;
  height: 1.25rem;
  margin-top: auto;
  text-align: right;
}

.c-article-section__share .btn {
  background-color: var(--co_text);
}

.c-article-section__info {
  grid-area: info;
  margin: 0;
}

.c-article-section__date {
  color: #69778f;
  font-size: 0.75rem;
  white-space: nowrap;
}

.c-article-section__toc {
  color: #69778f;
}

.c-article-section__toc summary:hover {
  cursor: pointer;
}

.c-article-section__toc ol {
  color: var(--co_text);
  margin-bottom: 0;
  padding-inline-start: 1.25rem;
}

.c-article-section__toc nav {
  border-bottom: 0.0625rem solid rgba(172, 179, 194, 0.5);
  padding-bottom: 1.25rem;
}

.c-article-section__reading-time {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0;
}

.c-article-section__reading-time::before {
  content: '—';
  font-style: normal;
  padding-right: 0.3125rem;
}

.c-article-section__content {
  font-size: 1rem;
  line-height: 1.65;
}

@media (min-width: 48em) {
  .c-article-section__content {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .c-article-section__content {
    font-size: 1.25rem;
  }
}

.c-article-section__content img {
  display: block;
  margin: 0 auto;
}

.c-article-section__content a {
  text-decoration: underline;
}

.c-article-section__content table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-article-section__content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-article-section__content table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-article-section__content table th,
.c-article-section__content table td {
  padding: 0.625rem;
}

.c-article-section__content table th:first-child,
.c-article-section__content table td:first-child {
  padding-left: 0 !important;
}

.c-article-section__content table th:last-child,
.c-article-section__content table td:last-child {
  padding-right: 0 !important;
}

@media (max-width: 47.99em) {
  .c-article-section__content table {
    display: block;
    overflow-x: scroll;
  }
  .c-article-section__content table * {
    white-space: nowrap;
  }
}

.c-article-section__content ul {
  padding-inline-start: 1.25rem;
}

@media (min-width: 64em) {
  .c-article-section__content ul {
    padding-inline-start: 2.5rem;
  }
}

.c-article-section__content .j-header-anchor {
  opacity: 0;
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.c-article-section__content .j-header-anchor:hover {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.c-article-section__content h2,
.c-article-section__content h3,
.c-article-section__content h4 {
  scroll-margin-top: 1.25rem;
}

.c-article-section__bottom {
  border-top: 0.0625rem solid rgba(172, 179, 194, 0.5);
  padding-top: 1.25rem;
  margin-top: 3.75rem;
}

@media (max-width: 47.99em) {
  .c-article-section__bottom .c-button {
    margin-top: 1.25rem;
  }
}

/* ==========================================================================
  BUTTON
========================================================================== */
.c-button {
  background: transparent;
  border: none;
  background: #69778f;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  min-width: 150px;
  padding: 10px 20px;
}

.c-button:hover {
  background: #78859a;
  color: #fff;
  text-decoration: none;
}

/* ---------------
  Secondary
--------------- */
.c-button--secondary {
  background: #fff;
  color: #69778f;
}

.c-button--secondary:hover {
  background: #69778f;
  color: #fff;
}

/* ---------------
  Border
--------------- */
.c-button--border {
  background: #fff;
  border: 1px solid #69778f;
  color: #69778f;
}

.c-button--border:hover {
  background: #69778f;
  color: #fff;
}

/* ==========================================================================
  CARD
========================================================================== */
.c-card {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  border-radius: 0.125rem;
  overflow: hidden;
  position: relative;
}

.c-card--horizontal {
  display: flex;
}

@media (min-width: 64em) {
  .c-card--horizontal {
    height: 12.5rem;
  }
}

.c-card__img-wrapper {
  position: relative;
}

.c-card__img-wrapper::before {
  background-color: var(--co_palette--lighten);
  color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card__img-wrapper .icon {
  bottom: 1.25rem;
  color: #fff;
  height: auto;
  opacity: 0.5;
  position: absolute;
  right: 1.25rem;
  width: 5rem;
}

.c-card__img-wrapper .icon--design-system,
.c-card__img-wrapper .icon--reindeer {
  width: 6.25rem;
}

.c-card__img-wrapper .icon--nodejs {
  width: 7.5rem;
}

@media (max-width: 63.99em) {
  .c-card--squared-image .c-card__img-wrapper {
    display: none;
  }
}

@media (min-width: 64em) {
  .c-card--squared-image .c-card__img-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: calc(calc(1 / 1) * 100%);
  }
}

.c-card--squared-image.c-card--horizontal .c-card__img-wrapper {
  padding-top: 0;
}

@media (min-width: 64em) {
  .c-card--squared-image.c-card--horizontal .c-card__img-wrapper {
    flex-basis: 18.75rem;
    flex-shrink: 0;
  }
}

.c-card__content {
  padding: 1.25rem 1.25rem 4.625rem 1.25rem;
}

.c-card--highlight-left .c-card__content {
  padding-left: 1.875rem;
}

.c-card--highlight-left .c-card__content::before {
  background-color: var(--co_palette--lighten);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.625rem;
}

.c-card--highlight-top .c-card__content {
  padding-top: 1.875rem;
}

.c-card--highlight-top .c-card__content::before {
  background-color: var(--co_palette--lighten);
  color: #fff;
  content: '';
  height: 0.625rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 63.99em) {
  .c-card--squared-image .c-card__content {
    padding-left: 1.875rem;
  }
  .c-card--squared-image .c-card__content::before {
    background-color: var(--co_palette--lighten);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.625rem;
  }
}

.c-card__title {
  display: inline-block;
}

.c-card__title h2 {
  display: inline;
}

.c-card__title ~ .icon--external-link {
  height: 1.25rem;
}

.c-card__title-heading {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.625rem;
  margin-top: 0;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-card__title-heading {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-card__title-heading {
    font-size: 1.75rem;
  }
}

.c-card--highlight-top .c-card__title-heading,
.c-card--highlight-left .c-card__title-heading {
  margin-bottom: 1.25rem;
}

.c-card__abstract {
  margin-top: 0;
}

.c-card__bottom {
  bottom: 1.25rem;
  position: absolute;
  right: 1.25rem;
  text-align: right;
  /* stylelint-disable */
  max-width: calc(100% - 2.5rem);
  /* stylelint-enable */
}

.c-card__date {
  color: #69778f;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.c-card__number {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  background-color: var(--co_palette--lighten);
  border-radius: 0.125rem;
  color: #fff;
  float: right;
  line-height: 1;
  margin-left: 0.3125rem;
  padding: 0.3125rem 0.625rem;
}

.c-card__number::after {
  clear: right;
}

.c-card__tags {
  overflow-x: auto;
  white-space: nowrap;
}

.c-card__tags .c-label {
  display: inline-block;
  margin-top: 0.3125rem;
}

.c-card--highlight-top .c-card__raw-content h2,
.c-card--highlight-left .c-card__raw-content h2 {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.75rem;
  }
}

.c-card--highlight-top .c-card__raw-content h3,
.c-card--highlight-top .c-card__raw-content h4,
.c-card--highlight-top .c-card__raw-content h5,
.c-card--highlight-top .c-card__raw-content h6,
.c-card--highlight-left .c-card__raw-content h3,
.c-card--highlight-left .c-card__raw-content h4,
.c-card--highlight-left .c-card__raw-content h5,
.c-card--highlight-left .c-card__raw-content h6 {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.5rem;
  }
}

.c-card__raw-content ul {
  padding-inline-start: 1.25rem;
}

@media (min-width: 64em) {
  .c-card__raw-content ul {
    padding-inline-start: 2.5rem;
  }
}

.c-card__raw-content table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-card__raw-content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-card__raw-content table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-card__raw-content table th,
.c-card__raw-content table td {
  padding: 0.625rem;
}

.c-card__raw-content table th:first-child,
.c-card__raw-content table td:first-child {
  padding-left: 0 !important;
}

.c-card__raw-content table th:last-child,
.c-card__raw-content table td:last-child {
  padding-right: 0 !important;
}

@media (max-width: 47.99em) {
  .c-card__raw-content table {
    display: block;
    overflow-x: scroll;
  }
  .c-card__raw-content table * {
    white-space: nowrap;
  }
}

.c-card__raw-content a {
  text-decoration: underline;
}

.c-card__raw-content .c-article__img--shadow {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
}

.c-card__raw-content .j-header-anchor {
  display: none;
}

/* ==========================================================================
  FOOTER
========================================================================== */
.c-footer {
  background-color: #e8e8e8;
}

[data-theme='dark'] .c-footer {
  background-color: #16162e;
}

.c-footer .l-main {
  margin-bottom: 0;
  margin-top: 0;
}

.c-footer__group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
}

@media (min-width: 48em) {
  .c-footer__group {
    justify-content: flex-end;
  }
}

.c-footer__copyright {
  font-size: 0.75rem;
  margin: 0;
}

[data-theme='light'] .c-footer__copyright {
  --co_text: #3f3f3f;
}

@media (max-width: 47.99em) {
  .c-footer__copyright {
    flex-basis: 100%;
    margin-bottom: 10px;
    order: 3;
    text-align: center;
  }
}

@media (min-width: 48em) {
  .c-footer__copyright {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-footer__copyright span {
  color: transparent;
  font-size: 0.5625rem;
  text-shadow: 0 0 0 var(--co_text);
}

@media (max-width: 47.99em) {
  .c-footer__theme-switcher {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 48em) {
  .c-footer__theme-switcher {
    margin-right: auto;
  }
}

.c-footer__socials {
  display: flex;
}

.c-footer__link {
  color: var(--co_text);
  height: calc(30px + 1.25rem);
  padding: 0.625rem;
}

.c-footer__link:hover {
  opacity: 0.6;
}

.c-footer__link ~ .c-footer__link {
  margin-left: 0.625rem;
}

.c-footer__link .icon {
  height: 1.875rem;
  width: 1.875rem;
}

/* ==========================================================================
  HEADER
  ========================================================================== */
@media (max-width: 63.99em) {
  .is-menu-open .c-header {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}

@media (max-width: 63.99em) {
  .c-header__nav {
    margin: 0;
    position: relative;
  }
}

.c-header__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media (max-width: 63.99em) {
  .c-header__list {
    align-content: center;
    background-color: var(--co_palette--lighten);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 100%;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.7s cubic-bezier(0.32, -0.01, 0, 0.99);
    width: 100%;
    z-index: 10;
  }
  .c-header__toggle:checked ~ .c-header__list {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.7s cubic-bezier(0.32, -0.01, 0, 0.99);
  }
}

@media (min-width: 64em) {
  .c-header__list {
    padding: 1.25rem 0;
    text-align: right;
  }
}

.c-header__item {
  margin-bottom: 0;
  padding-left: 0;
  display: block;
}

@media (max-width: 63.99em) {
  .c-header__item {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 63.99em) and (min-width: 48em) {
  .c-header__item {
    font-size: 1.9375rem;
  }
}

@media (max-width: 63.99em) and (min-width: 64em) {
  .c-header__item {
    font-size: 2.375rem;
  }
}

@media (min-width: 64em) {
  .c-header__item {
    display: inline-block;
    margin-bottom: 0;
  }
  .c-header__item::before {
    color: var(--co_text);
    content: '•';
  }
}

@media (min-width: 64em) {
  .c-header__item + .c-header__item {
    margin-left: 1.25rem;
  }
}

@media (max-width: 63.99em) {
  .c-header__link {
    color: #fff;
  }
  .c-header__link:hover {
    color: #fff;
  }
}

@media (hover: hover) {
  .c-header__link:hover {
    border-bottom: 0.0625rem solid #69778f;
    border-color: var(--co_palette--lighten);
    padding-bottom: 0.25rem;
    text-decoration: none;
  }
}

.c-header__link[data-state='active'] {
  border-bottom: 0.125rem dashed #fff;
  font-weight: 400;
  padding-bottom: 0.25rem;
}

@media (min-width: 64em) {
  .c-header__link[data-state='active'] {
    border-bottom: 0.25rem solid var(--co_palette--lighten);
  }
  .c-header__link[data-state='active']:hover {
    text-decoration: none;
  }
}

.c-header__link[data-state='current-section'] {
  border-bottom: 0.125rem dotted #fff;
}

@media (min-width: 64em) {
  .c-header__link[data-state='current-section'] {
    border-bottom: 0.125rem dotted var(--co_palette--lighten);
    font-weight: 400;
    padding-bottom: 0.25rem;
  }
}

/* ---------
  Mobile header toggle
--------- */
.c-header__toggle {
  height: 2.8125rem;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 2.8125rem;
  z-index: 11;
}

@media (min-width: 64em) {
  .c-header__toggle {
    display: none;
  }
}

.c-header__hamburger {
  background: #fff;
  display: block;
  height: 0.125rem;
  position: absolute;
  right: 1.25rem;
  top: 1.875rem;
  transition: background 0.7s;
  width: 1.875rem;
  z-index: 11;
}

.c-header__toggle:checked ~ .c-header__hamburger {
  background: transparent;
  transition: background 0.7s;
}

.c-header__hamburger::before {
  background: #fff;
  content: '';
  height: 0.125rem;
  left: 0;
  position: absolute;
  top: 0.625rem;
  transition: transform 0.7s;
  width: 1.875rem;
}

.c-header__toggle:checked ~ .c-header__hamburger::before {
  transform: translateY(-5px) rotate(-45deg);
  transition: transform 0.7s;
}

.c-header__hamburger::after {
  background: #fff;
  bottom: 0.625rem;
  content: '';
  height: 0.125rem;
  left: 0;
  position: absolute;
  transition: transform 0.7s;
  width: 1.875rem;
}

.c-header__toggle:checked ~ .c-header__hamburger::after {
  transform: translateY(15px) rotate(45deg);
  transition: transform 0.7s;
}

@media (min-width: 64em) {
  .c-header__hamburger {
    display: none;
  }
}

/* ==========================================================================
  HERO
========================================================================== */
.c-hero {
  align-items: center;
  background-color: var(--co_palette);
  color: #fff;
  display: flex;
  min-height: 21.875rem;
  padding: 2.5rem 0;
  position: relative;
  text-align: center;
}

.c-hero .l-main {
  position: relative;
  width: 100%;
}

.c-hero--bg-img {
  color: #fff;
  min-height: 31.25rem;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 0.625rem;
}

.c-hero--quote {
  font-style: italic;
}

@media (max-width: 47.99em) {
  .c-hero--quote {
    padding: 3.125rem 1.25rem;
  }
}

.c-hero__quote {
  margin: 0 auto;
}

@media (min-width: 48em) {
  .c-hero__quote {
    max-width: 80%;
  }
}

.c-hero__quote::before {
  content: '“';
}

.c-hero__quote::after {
  content: '”';
}

.c-hero__title {
  margin-top: 0;
}

.c-hero__title-custom {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 0.0625rem dashed #fff;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-hero__title-custom {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-hero__title-custom {
    font-size: 1.75rem;
  }
}

.c-hero__img {
  background-attachment: fixed;
  background-image: var(--hero-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-hero__subtitle {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .c-hero__subtitle {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .c-hero__subtitle {
    font-size: 1.5rem;
  }
}

.c-hero--quote .c-hero__subtitle {
  font-style: normal;
}

.c-hero__credits {
  bottom: 20px;
  color: inherit;
  font-size: 0.75rem;
  position: absolute;
  right: 20px;
}

.c-hero__credits a {
  color: inherit;
  text-decoration: underline;
}

/* ==========================================================================
  LABEL
========================================================================== */
.c-label {
  background-color: var(--co_palette--lighten-hard);
  border-radius: 2px;
  border-radius: 6.25rem;
  color: #073b4c;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  text-transform: uppercase;
}

.c-label:hover {
  color: #073b4c;
}

.c-label + .c-label {
  margin-left: 0.3125rem;
}

.c-label[data-state='active'] {
  background: var(--co_palette);
  color: #fff;
}

/* ==========================================================================
  FILTER
========================================================================== */
.c-filter__legend {
  margin-bottom: 0.625rem;
}

.c-filter__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-flow: wrap;
}

.c-filter__item {
  margin-top: 0.3125rem;
}

.c-filter__item:not(:last-child) {
  margin-right: 0.3125rem;
}

/* ==========================================================================
  FORM
========================================================================== */
.c-form {
  align-items: stretch;
  position: relative;
}

.c-form__input {
  border: 0.0625rem solid #e8e8e8;
  border-radius: 0.1875rem;
  color: #69778f;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

@media (min-width: 48em) {
  .c-form__input {
    margin-right: 1.25rem;
    width: 50%;
  }
}

[data-theme='dark'] .c-form__input {
  background: transparent;
  color: #fff;
}

.c-form__input:focus {
  border: 0.0625rem solid #acb3c2;
  outline: none;
}

.c-form__input::placeholder {
  color: #acb3c2;
}

.c-form__label {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

/* ==========================================================================
  PAGINATION
========================================================================== */
.c-pagination {
  margin: 1.25rem 0;
}

.c-pagination__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}

.c-pagination__link {
  color: var(--co_text);
}

@media (hover: hover) {
  .c-pagination__link:hover {
    border-bottom: 0.1875rem solid var(--co_palette--lighten);
    padding-bottom: 0.25rem;
    text-decoration: none;
  }
}

/**
 * READING PROGRESS
 */
.c-reading-progress {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  background-color: rgba(172, 179, 194, 0.2);
  opacity: 0;
  position: sticky;
  scroll-margin-top: 10px;
  top: 0;
  transition: all 0.6s ease;
  width: 100%;
  z-index: 200;
}

.c-reading-progress.is-sticky-on-top {
  background-color: rgba(172, 179, 194, 0.5);
  opacity: 1;
  transition: all 0.6s ease;
}

.c-reading-progress__value {
  background: var(--co_palette--lighten);
  display: block;
  height: 10px;
  max-width: 100%;
  transition: width 0.3s ease-out;
}

/* ==========================================================================
  THEME SWITCHER
========================================================================== */
.c-theme-switcher__input {
  display: none;
}

[data-theme='dark'] .c-theme-switcher__label--dark {
  display: none;
}

[data-theme='light'] .c-theme-switcher__label--light {
  display: none;
}

.c-theme-switcher__label {
  color: transparent;
  text-shadow: 0 0 0 var(--co_text);
}

.c-theme-switcher__label:hover {
  cursor: pointer;
}

/* ==========================================================================
  07 - SCOPES
========================================================================== */
/* ==========================================================================
  SEARCH LIST
========================================================================== */
.s-search-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.s-search-list li {
  margin-bottom: 0;
  padding-left: 0;
}

/* ==========================================================================
  PROFILE PICTURE
========================================================================== */
.s-profile-picture {
  border-radius: 0.1875rem;
  width: 100%;
}

@media (min-width: 48em) {
  .s-profile-picture {
    width: 12.5rem;
  }
}

@media (min-width: 48em) {
  .s-profile-picture {
    float: right;
    margin-left: 2.5rem !important;
  }
}

/* ==========================================================================
  08 - UTILITY
========================================================================== */
/* ==========================================================================
  UTILITY TYPOGRAPHY
========================================================================== */
.u-ty-uppercase {
  text-transform: uppercase;
}

.u-ty-italic {
  font-style: italic;
}

@media (max-width: 47.99em) {
  .u-ty-break-t {
    display: none;
  }
}

/* ==========================================================================
  UTILITY GIPHY
========================================================================== */
.s-giphy {
  margin: 0 auto;
}

.s-giphy > video {
  width: 100%;
}

.s-giphy p {
  margin: 0;
}

.s-giphy p > a {
  color: #acb3c2;
  display: block;
  font-size: 0.625rem;
  margin-top: 0.1875rem;
}

@media (min-width: 48em) {
  .s-giphy--medium-d {
    max-width: 70%;
  }
}

@media (min-width: 48em) {
  .s-giphy--small-d {
    max-width: 70%;
  }
}

@media (min-width: 64em) {
  .s-giphy--small-d {
    max-width: 50%;
  }
}

/* ==========================================================================
  HIDDEN
========================================================================== */
.u-hidden {
  display: none !important;
}

.u-visible {
  display: block !important;
}

@media (max-width: 47.99em) {
  .u-hidden-m {
    display: none !important;
  }
}

@media (min-width: 48em) and (max-width: 63.99em) {
  .u-hidden-t {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .u-hidden-d {
    display: none !important;
  }
}

/* ==========================================================================
  UTILITY ELEMENTS
========================================================================== */
.u-shadow {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
}

@media (min-width: 64em) {
  .s-img--medium-d {
    max-width: 70%;
  }
}

@media (min-width: 64em) {
  .s-img--small-d {
    max-width: 50%;
  }
}

/* ==========================================================================
  DEBUG
========================================================================== */
.u-debug {
  outline: 1px solid #0f0;
}

/* ==========================================================================
  100 - UIENGINE
========================================================================== */
/* ==========================================================================
  UI-CONTAINER
========================================================================== */
.ui-container {
  min-height: 100%;
}

.ui-container--dark-bg {
  background: repeating-linear-gradient(45deg, #171717, #272727 10px, #272727 10px, #272727 20px);
}

.ui-container--medium-bg {
  background: repeating-linear-gradient(45deg, #f3f3f3, #fdfdfd 10px, #fdfdfd 10px, #fdfdfd 20px);
}

.ui-container--disco-club-bg {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.ui-body--external-preview .ui-container {
  min-height: 100vh;
  padding: 0;
}

/* ==========================================================================
  UI-CARD
========================================================================== */
.ui-card {
  max-width: 300px;
}
