@charset "UTF-8";
/* ==========================================================================
  DEV
========================================================================== */
/* ==========================================================================
  STYLE
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
/* ==========================================================================
  00 - SETTINGS
========================================================================== */
/* ==========================================================================
  MAP DEEP GET
========================================================================== */
/* ==========================================================================
  COLORS
========================================================================== */
/* ==========================================================================
  MQ CONFIG
========================================================================== */
/* ==========================================================================
  Functions
========================================================================== */
/* ==========================================================================
  Strip unit
========================================================================== */
/* ==========================================================================
  Convert PX to REM
========================================================================== */
/* ==========================================================================
  TYPOGRAPHY
========================================================================== */
/* ==========================================================================
  HEADINGS
========================================================================== */
/* ------------------
  Headings maps
------------------ */
/* ------------------
  Headings rules
------------------ */
/* ------------------
  Headings - XXL
------------------ */
/* ------------------
  Headings - XL
------------------ */
/* ------------------
  Headings - L
------------------ */
/* ------------------
  Headings - M
------------------ */
/* ------------------
  Headings - S
------------------ */
h1 {
  font-size: 2.125rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 3rem;
    font-weight: 500;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.9375rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.375rem;
    font-weight: 500;
  }
}

h3 {
  font-size: 1.4375rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  h3 {
    font-size: 1.5625rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

h4,
h5,
h6 {
  font-size: 1.1875rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

/* ==========================================================================
  01 - TOOLS
========================================================================== */
/* ==========================================================================
  BUTTON RESET
========================================================================== */
/* ==========================================================================
  FIELDSET RESET
========================================================================== */
legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* ==========================================================================
  LIST RESET
========================================================================== */
/* ------------------
  Usage

  <ul> @include list-reset;
------------------ */
/* ------------------
  Usage

  <li> @include list-item-reset;
------------------ */
/* ==========================================================================
  03 - ELEMENTS
========================================================================== */
/* ==========================================================================
  BASE
========================================================================== */
* {
  box-sizing: border-box;
  font-family: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  color: #50596c;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

a {
  color: #50596c;
  text-decoration: none;
}

a:hover, a:focus {
  color: #626a7b;
  text-decoration: underline;
}

code {
  font-family: "Fira Code", monospace;
}

ul {
  font-size: 1rem;
}

/* ------------------
  Image reset
------------------ */
img,
amp-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* ------------------
  <hr>
------------------ */
hr {
  background-color: #e8e8e8;
  border: none;
  color: #e8e8e8;
  height: 0.0625rem;
}

/* ------------------
  blockquote
------------------ */
blockquote {
  border-left: 0.1875rem solid #e8e8e8;
  margin: 0;
  padding-left: 1.25rem;
}

/* ------------------
  Footer at the bottom trick
------------------ */
html,
body {
  height: 100%;
  margin: 0;
}

@media (min-width: 64em) {
  .l-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 64em) {
  .c-footer {
    margin-top: auto;
  }
}

/* ==========================================================================
  SPACING
========================================================================== */
.l-spacing-xs {
  margin-bottom: 0.3125rem;
}

.l-spacing-s {
  margin-bottom: 0.625rem;
}

.l-spacing-m {
  margin-bottom: 1.25rem;
}

.l-spacing-l {
  margin-bottom: 2.5rem;
}

/* ==========================================================================
  TABLE
========================================================================== */
.c-table {
  border-collapse: collapse;
  text-align: left;
}

.c-table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

.c-table th,
.c-table td {
  padding: 0.625rem;
}

/* ==========================================================================
  CODE
========================================================================== */
:not(pre) > code:not([class^='language-']) {
  background: #f3f3f3;
}

/* ==========================================================================
  MAIN BORDER
========================================================================== */
/* ==========================================================================
  04 - OBJECTS
========================================================================== */
/* ==========================================================================
  ASPECT RATIO

  more info: https://andy-bell.design/wrote/creating-an-aspect-ratio-css-utility/
========================================================================== */
.o-aspect-ratio {
  display: block;
  overflow: hidden;
  position: relative;
  /* ------------------
    ratio = 1
  ------------------ */
  /* ------------------
    ratio = 16:10
  ------------------ */
  /* ------------------
    img
  ------------------ */
}

.o-aspect-ratio--square {
  padding-top: calc(calc(1 / 1) * 100%);
}

.o-aspect-ratio--16-10 {
  padding-top: calc(calc(10 / 16) * 100%);
}

.o-aspect-ratio img {
  left: 0;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
}

/* ==========================================================================
  CARDS GRID
========================================================================== */
.o-cards-grid {
  display: grid;
  grid-gap: 1.25rem;
}

@media (min-width: 48em) {
  .o-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .o-cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ==========================================================================
  DISTRIBUTED
========================================================================== */
.o-distributed {
  display: flex;
}

.o-distributed--center {
  justify-content: center;
}

.o-distributed--between {
  justify-content: space-between;
}

/* ==========================================================================
  ICON
========================================================================== */
.icon {
  height: 30px;
  width: 30px;
}

/* ==========================================================================
  LAYOUT
========================================================================== */
.l-main {
  margin: 20px;
}

@media (min-width: 64em) {
  .l-main {
    margin: 0 auto;
    max-width: 1024px;
  }
}

/* ==========================================================================
  06 - COMPONENTS
========================================================================== */
/* ==========================================================================
  ARTICLE SECTION
========================================================================== */
.c-article-section__date {
  color: #acb3c2;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.c-article-section__content img {
  display: block;
  margin: 0 auto;
}

.c-article-section__content p,
.c-article-section__content li,
.c-article-section__content a {
  font-size: 1.25rem;
  line-height: 1.4;
}

.c-article-section__content table {
  border-collapse: collapse;
  text-align: left;
}

.c-article-section__content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

.c-article-section__content table th,
.c-article-section__content table td {
  padding: 0.625rem;
}

.c-article-section__content a {
  text-decoration: underline;
}

.c-article-section__top {
  border-bottom: 0.0625rem solid #e8e8e8;
  padding-bottom: 1.25rem;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.c-article-section--custom .c-article-section__top {
  margin-bottom: 2.5rem;
  padding-bottom: 0;
}

.c-article-section__share {
  height: 1.25rem;
}

.c-article-section__share .btn {
  background-color: #50596c;
}

.c-article-section__img--medium {
  margin: 0 auto;
  max-width: 70%;
}

.c-article-section__img--small {
  margin: 0 auto;
  max-width: 50%;
}

.c-article-section__bottom {
  border-top: 0.0625rem solid #e8e8e8;
  padding-top: 1.25rem;
  margin-top: 3.75rem;
}

@media (max-width: 47.99em) {
  .c-article-section__bottom .c-button {
    margin-top: 1.25rem;
  }
}

/* ==========================================================================
  BUTTON
========================================================================== */
.c-button {
  background: transparent;
  border: none;
  background: #50596c;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  min-width: 150px;
  padding: 10px 20px;
}

.c-button:hover {
  background: #626a7b;
  color: #fff;
  text-decoration: none;
}

/* ---------------
  Secondary
--------------- */
.c-button--secondary {
  background: #fff;
  color: #50596c;
}

.c-button--secondary:hover {
  background: #50596c;
  color: #fff;
}

/* ---------------
  Border
--------------- */
.c-button--border {
  background: #fff;
  border: 1px solid #50596c;
  color: #50596c;
}

.c-button--border:hover {
  background: #50596c;
  color: #fff;
}

/* ==========================================================================
  CARD
========================================================================== */
.c-card {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
  overflow: hidden;
  position: relative;
}

.c-card__img-wrapper {
  position: relative;
}

.c-card__img-wrapper::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  /* --------------
      Colors by category, output example:

      .c-card--nodejs & {
        @include card-gradient(to right, 'nodejs');
      }
    -------------- */
}

.c-card--git .c-card__img-wrapper::before {
  background: linear-gradient(to right, #eb3349, #f45c43);
}

.c-card--vuejs .c-card__img-wrapper::before {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.c-card--js .c-card__img-wrapper::before {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.c-card--vsc .c-card__img-wrapper::before {
  background: linear-gradient(to right, #1a2980, #26d0ce);
}

.c-card--css .c-card__img-wrapper::before {
  background: linear-gradient(to right, #e84393, #fd79a8);
}

.c-card--nodejs .c-card__img-wrapper::before {
  background: linear-gradient(to right, #009432, #c4e538);
}

.c-card--design-system .c-card__img-wrapper::before {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.c-card--static-site-generator .c-card__img-wrapper::before {
  background: linear-gradient(to right, #00353e, #387c88);
}

.c-card--markdown .c-card__img-wrapper::before {
  background: linear-gradient(to right, #6b34ff, #339ff7);
}

.c-card--template-engine .c-card__img-wrapper::before {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.c-card--svg .c-card__img-wrapper::before {
  background: linear-gradient(to right, #f0c, #339);
}

.c-card__img-wrapper .icon {
  bottom: 1.25rem;
  color: #fff;
  height: auto;
  opacity: 0.5;
  position: absolute;
  right: 1.25rem;
  width: 6.25rem;
}

.c-card__img-wrapper .icon-nodejs {
  width: 8.75rem;
}

.c-card__img-wrapper .icon-design-system {
  width: 8.75rem;
}

.c-card--squared-image .c-card__img-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: calc(calc(6 / 20) * 100%);
}

@media (min-width: 48em) {
  .c-card--squared-image .c-card__img-wrapper {
    padding-top: calc(calc(1 / 1) * 100%);
  }
}

.c-card__content {
  padding: 1.25rem 1.25rem 4.625rem 1.25rem;
  /* --------------
    Colors by category, output example:

    .c-card--highlight-left.c-card--git &::before {
      @include card-gradient(to bottom, 'git');
    }

    .c-card--highlight-top.c-card--git &::before {
      @include card-gradient(to right, 'git');
    }
  -------------- */
}

.c-card--highlight-left .c-card__content {
  padding-left: 1.875rem;
}

.c-card--highlight-left .c-card__content::before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.625rem;
}

.c-card--highlight-top .c-card__content {
  padding-top: 1.875rem;
}

.c-card--highlight-top .c-card__content::before {
  content: '';
  height: 0.625rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card--highlight-left.c-card--git .c-card__content::before {
  background: linear-gradient(to bottom, #eb3349, #f45c43);
}

.c-card--highlight-top.c-card--git .c-card__content::before {
  background: linear-gradient(to right, #eb3349, #f45c43);
}

.c-card--highlight-left.c-card--vuejs .c-card__content::before {
  background: linear-gradient(to bottom, #11998e, #38ef7d);
}

.c-card--highlight-top.c-card--vuejs .c-card__content::before {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.c-card--highlight-left.c-card--js .c-card__content::before {
  background: linear-gradient(to bottom, #f2994a, #f2c94c);
}

.c-card--highlight-top.c-card--js .c-card__content::before {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.c-card--highlight-left.c-card--vsc .c-card__content::before {
  background: linear-gradient(to bottom, #1a2980, #26d0ce);
}

.c-card--highlight-top.c-card--vsc .c-card__content::before {
  background: linear-gradient(to right, #1a2980, #26d0ce);
}

.c-card--highlight-left.c-card--css .c-card__content::before {
  background: linear-gradient(to bottom, #e84393, #fd79a8);
}

.c-card--highlight-top.c-card--css .c-card__content::before {
  background: linear-gradient(to right, #e84393, #fd79a8);
}

.c-card--highlight-left.c-card--nodejs .c-card__content::before {
  background: linear-gradient(to bottom, #009432, #c4e538);
}

.c-card--highlight-top.c-card--nodejs .c-card__content::before {
  background: linear-gradient(to right, #009432, #c4e538);
}

.c-card--highlight-left.c-card--design-system .c-card__content::before {
  background: linear-gradient(to bottom, #ee0979, #ff6a00);
}

.c-card--highlight-top.c-card--design-system .c-card__content::before {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.c-card--highlight-left.c-card--static-site-generator .c-card__content::before {
  background: linear-gradient(to bottom, #00353e, #387c88);
}

.c-card--highlight-top.c-card--static-site-generator .c-card__content::before {
  background: linear-gradient(to right, #00353e, #387c88);
}

.c-card--highlight-left.c-card--markdown .c-card__content::before {
  background: linear-gradient(to bottom, #6b34ff, #339ff7);
}

.c-card--highlight-top.c-card--markdown .c-card__content::before {
  background: linear-gradient(to right, #6b34ff, #339ff7);
}

.c-card--highlight-left.c-card--template-engine .c-card__content::before {
  background: linear-gradient(to bottom, #fc4a1a, #f7b733);
}

.c-card--highlight-top.c-card--template-engine .c-card__content::before {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.c-card--highlight-left.c-card--svg .c-card__content::before {
  background: linear-gradient(to bottom, #f0c, #339);
}

.c-card--highlight-top.c-card--svg .c-card__content::before {
  background: linear-gradient(to right, #f0c, #339);
}

.c-card__title-heading {
  font-size: 1.4375rem;
  font-weight: 500;
  font-weight: 600;
  margin-bottom: 0.625rem;
  margin-top: 0;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-card__title-heading {
    font-size: 1.5625rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .c-card__title-heading {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

@media (min-width: 48em) {
  .c-card__title-heading {
    font-weight: 600;
  }
}

@media (min-width: 64em) {
  .c-card__title-heading {
    font-weight: 600;
  }
}

.c-card--highlight-top .c-card__title-heading,
.c-card--highlight-left .c-card__title-heading {
  margin-bottom: 1.25rem;
}

.c-card__abstract {
  margin-top: 0;
}

.c-card__bottom {
  bottom: 1.25rem;
  position: absolute;
  right: 1.25rem;
  text-align: right;
}

.c-card__date {
  color: #acb3c2;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.c-card__number {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem rgba(0, 0, 0, 0.3);
  border-radius: 0.125rem;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.c-card--git .c-card__number {
  background: linear-gradient(to right, #eb3349, #f45c43);
}

.c-card--vuejs .c-card__number {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.c-card--js .c-card__number {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.c-card--vsc .c-card__number {
  background: linear-gradient(to right, #1a2980, #26d0ce);
}

.c-card--css .c-card__number {
  background: linear-gradient(to right, #e84393, #fd79a8);
}

.c-card--nodejs .c-card__number {
  background: linear-gradient(to right, #009432, #c4e538);
}

.c-card--design-system .c-card__number {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.c-card--static-site-generator .c-card__number {
  background: linear-gradient(to right, #00353e, #387c88);
}

.c-card--markdown .c-card__number {
  background: linear-gradient(to right, #6b34ff, #339ff7);
}

.c-card--template-engine .c-card__number {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.c-card--svg .c-card__number {
  background: linear-gradient(to right, #f0c, #339);
}

.c-card__tags .c-label {
  display: inline-block;
  margin-top: 0.3125rem;
}

.c-card--highlight-top .c-card__raw-content h2,
.c-card--highlight-left .c-card__raw-content h2 {
  font-size: 1.4375rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.5625rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.c-card--highlight-top .c-card__raw-content h3,
.c-card--highlight-top .c-card__raw-content h4,
.c-card--highlight-top .c-card__raw-content h5,
.c-card--highlight-top .c-card__raw-content h6,
.c-card--highlight-left .c-card__raw-content h3,
.c-card--highlight-left .c-card__raw-content h4,
.c-card--highlight-left .c-card__raw-content h5,
.c-card--highlight-left .c-card__raw-content h6 {
  font-size: 1.1875rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.c-card__raw-content table {
  border-collapse: collapse;
  text-align: left;
}

.c-card__raw-content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

.c-card__raw-content table th,
.c-card__raw-content table td {
  padding: 0.625rem;
}

.c-card__raw-content a {
  text-decoration: underline;
}

/* ==========================================================================
  FOOTER
========================================================================== */
.c-footer {
  background-color: #e8e8e8;
}

.c-footer__group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.c-footer__item {
  color: #50596c;
  padding: 0.625rem;
}

.c-footer__item:hover {
  color: #3f3f3f;
}

.c-footer__item ~ .c-footer__item {
  margin-left: 0.625rem;
}

.c-footer__item .icon {
  height: 1.875rem;
  width: 1.875rem;
}

/* ==========================================================================
  HEADER
========================================================================== */
.c-header__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 1.25rem 0;
  text-align: right;
}

.c-header__item {
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block;
}

.c-header__item::before {
  color: #50596c;
  content: '•';
}

.c-header__item + .c-header__item {
  margin-left: 1.25rem;
}

.c-header__link[data-state='active'] {
  border-bottom: 0.25rem solid #50596c;
  padding-bottom: 0.25rem;
}

.c-header__link[data-state='active']:hover {
  text-decoration: none;
}

/* ==========================================================================
  HERO
========================================================================== */
.c-hero {
  align-items: center;
  color: #fff;
  display: flex;
  min-height: 31.25rem;
  position: relative;
  text-align: center;
}

.c-hero .l-main {
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 0.625rem;
  width: 100%;
}

.c-hero::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%), linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5) 50%, transparent);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-hero--bottom-text {
  align-items: flex-end;
  padding-bottom: 1.875rem;
}

.c-hero--top-text {
  align-items: flex-start;
  padding-top: 1.875rem;
}

.c-hero__title-custom {
  border-bottom: 0.0625rem dashed #fff;
  text-transform: uppercase;
  /* stylelint-disable */
  font-size: 1.4375rem;
  font-weight: 500;
  font-weight: 600;
  /* stylelint-enable */
}

@media (min-width: 48em) {
  .c-hero__title-custom {
    font-size: 1.5625rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .c-hero__title-custom {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

@media (min-width: 48em) {
  .c-hero__title-custom {
    font-weight: 600;
  }
}

@media (min-width: 64em) {
  .c-hero__title-custom {
    font-weight: 600;
  }
}

.c-hero__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.c-hero__subtitle {
  font-size: 1.1875rem;
  font-weight: 500;
}

@media (min-width: 48em) {
  .c-hero__subtitle {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 64em) {
  .c-hero__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.c-hero__scroll-down {
  color: #fff;
}

.c-hero__credits {
  bottom: 20px;
  color: inherit;
  font-size: 0.75rem;
  position: absolute;
  right: 20px;
}

.c-hero__credits a {
  color: inherit;
  text-decoration: underline;
}

/* ==========================================================================
  LABEL
========================================================================== */
.c-label {
  background: rgba(80, 89, 108, 0.1);
  border-radius: 2px;
  border-radius: 6.25rem;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  text-transform: uppercase;
}

.c-label + .c-label {
  margin-left: 0.3125rem;
}

.c-label[data-state='active'] {
  background: rgba(80, 89, 108, 0.7);
  color: #fff;
}

/* ==========================================================================
  FILTER
========================================================================== */
.c-filter__legend {
  margin-bottom: 0.625rem;
}

.c-filter__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-flow: wrap;
}

.c-filter__item {
  margin-top: 0.3125rem;
}

.c-filter__item + .c-filter__item {
  margin-left: 0.3125rem;
}

/* ==========================================================================
  PHOTOGRID
========================================================================== */
.c-photogrid {
  display: grid;
}

@media (min-width: 64em) {
  .c-photogrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: calc(100vh - 113px);
    z-index: 0;
  }
}

.c-photogrid__item {
  max-height: calc(100vh / 2);
  overflow: hidden;
  position: relative;
}

@media (min-width: 64em) {
  .c-photogrid__item::before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: ease-in-out 1s;
    width: 100%;
    z-index: 1;
  }
  .c-photogrid__item:hover::before {
    opacity: 0;
    transition: ease-in-out 1s;
  }
}

.c-photogrid__title {
  color: #fff;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  text-shadow: #000 0 0 0.625rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 64em) {
  .c-photogrid__title {
    z-index: 2;
  }
}

.c-photogrid__img {
  max-width: none;
  object-fit: cover;
  width: 100%;
}

/* ==========================================================================
  07 - UTILITY
========================================================================== */
/* ==========================================================================
  UTILITY TYPOGRAPHY
========================================================================== */
.u-ty-uppercase {
  text-transform: uppercase;
}

.u-ty-italic {
  font-style: italic;
}

/* ==========================================================================
  100 - UIENGINE
========================================================================== */
/* ==========================================================================
  UI-CONTAINER
========================================================================== */
.ui-container {
  height: 100%;
}

.ui-container--dark-bg {
  background: repeating-linear-gradient(45deg, #171717, #272727 10px, #272727 10px, #272727 20px);
}

.ui-container--medium-bg {
  background: repeating-linear-gradient(45deg, #f3f3f3, #fdfdfd 10px, #fdfdfd 10px, #fdfdfd 20px);
}

.ui-container--disco-club-bg {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.ui-body--external-preview .ui-container {
  min-height: 100vh;
  padding: 0;
}

/* ==========================================================================
  UI-CARD
========================================================================== */
.ui-card {
  max-width: 300px;
}
