@charset "UTF-8";
/* ==========================================================================
  STYLE
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
/* ==========================================================================
  00 - SETTINGS
========================================================================== */
/* ==========================================================================
  MAP DEEP GET
========================================================================== */
/* ==========================================================================
  COLORS
========================================================================== */
/**
 * CSS vars
 */
:root {
  --co_text: #50596c;
  --co_text-tint-10: #626a7b;
  --co_background: #fff;
  --co_shadow: rgba(0, 0, 0, 0.1);
  --co_palette: #50596c;
  --co_palette--lighten: #667189;
  --co_palette--lighten-hard: #9ea6b7;
}

[data-theme='dark'] {
  --co_text: #fff;
  --co_background: #073b4c;
  --co_text-tint-10: white;
}

.t-palette-color--1 {
  --co_palette: #ef476f;
  --co_palette--lighten: #f37694;
  --co_palette--lighten-hard: #fbd4dd;
}

[data-theme='dark'] .t-palette-color--1 {
  --co_shadow: rgba(239, 71, 111, 0.4);
}

.t-palette-color--2 {
  --co_palette: #ffc233;
  --co_palette--lighten: #ffd166;
  --co_palette--lighten-hard: #fff0cc;
}

[data-theme='dark'] .t-palette-color--2 {
  --co_shadow: rgba(255, 194, 51, 0.4);
}

.t-palette-color--3 {
  --co_palette: #06d6a0;
  --co_palette--lighten: #17f8be;
  --co_palette--lighten-hard: #7afbda;
}

[data-theme='dark'] .t-palette-color--3 {
  --co_shadow: rgba(6, 214, 160, 0.4);
}

.t-palette-color--4 {
  --co_palette: #1b98e0;
  --co_palette--lighten: #45ade9;
  --co_palette--lighten-hard: #a0d5f4;
}

[data-theme='dark'] .t-palette-color--4 {
  --co_shadow: rgba(27, 152, 224, 0.4);
}

.t-palette-color--5 {
  --co_palette: #ff9f1c;
  --co_palette--lighten: #ffb54f;
  --co_palette--lighten-hard: #ffe0b5;
}

[data-theme='dark'] .t-palette-color--5 {
  --co_shadow: rgba(255, 159, 28, 0.4);
}

/* ==========================================================================
  MQ CONFIG
========================================================================== */
/* ==========================================================================
  Functions
========================================================================== */
/* ==========================================================================
  Strip unit
========================================================================== */
/* ==========================================================================
  Convert PX to REM
========================================================================== */
/* ==========================================================================
  TYPOGRAPHY
========================================================================== */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.65;
}

/* ==========================================================================
  HEADINGS
========================================================================== */
/* ------------------
  Headings maps
------------------ */
/* ------------------
  Headings rules
------------------ */
/* ------------------
  Headings - XL
------------------ */
/* ------------------
  Headings - L
------------------ */
/* ------------------
  Headings - M
------------------ */
/* ------------------
  Headings - S
------------------ */
h1 {
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h2 {
    font-size: 1.9375rem;
  }
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.375rem;
  }
}

h3 {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h3 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.75rem;
  }
}

h4,
h5,
h6 {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }
}

/* ==========================================================================
  01 - TOOLS
========================================================================== */
/* ==========================================================================
  BUTTON RESET
========================================================================== */
/* ==========================================================================
  FIELDSET RESET
========================================================================== */
legend {
  display: table;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* ==========================================================================
  LIST RESET
========================================================================== */
/* ------------------
  Usage

  <ul> @include list-reset;
------------------ */
/* ------------------
  Usage

  <li> @include list-item-reset;
------------------ */
/* ==========================================================================
  02 - GENERIC (import)
========================================================================== */
/* ==========================================================================
  03 - ELEMENTS
========================================================================== */
/* ==========================================================================
  BASE
========================================================================== */
* {
  box-sizing: border-box;
  font-family: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--co_background);
  color: var(--co_text);
  height: 100%;
  margin: 0;
  padding: 0;
}

body.is-menu-open {
  position: fixed;
  width: 100%;
}

a {
  color: var(--co_text);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--co_text-tint-10);
  text-decoration: underline;
}

code {
  font-family: "Fira Code", monospace;
}

/* ------------------
  Image reset
------------------ */
img,
amp-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* ------------------
  <hr>
------------------ */
hr {
  background-color: #e8e8e8;
  border: none;
  color: #e8e8e8;
  height: 0.0625rem;
}

/* ------------------
  blockquote
------------------ */
blockquote {
  border-left: 0.1875rem solid #e8e8e8;
  margin: 0;
  padding-left: 1.25rem;
}

/* ------------------
  Footer at the bottom trick
------------------ */
html,
body {
  height: 100%;
  margin: 0;
}

@media (min-width: 64em) {
  .l-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 64em) {
  .c-footer {
    margin-top: auto;
  }
}

/* ==========================================================================
  SPACING
========================================================================== */
.l-spacing-xs {
  margin-bottom: 0.3125rem !important;
}

.l-spacing-s {
  margin-bottom: 0.625rem !important;
}

.l-spacing-m {
  margin-bottom: 1.25rem !important;
}

.l-spacing-l {
  margin-bottom: 2.5rem !important;
}

.l-spacing-top-m {
  margin-top: 1.25rem !important;
}

/* ==========================================================================
  TABLE
========================================================================== */
.c-table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-table th,
.c-table td {
  padding: 0.625rem;
}

.c-table th:first-child,
.c-table td:first-child {
  padding-left: 0 !important;
}

.c-table th:last-child,
.c-table td:last-child {
  padding-right: 0 !important;
}

/* ==========================================================================
  CODE
========================================================================== */
:not(pre) > code:not([class^='language-']) {
  background: #f3f3f3;
}

[data-theme='dark'] :not(pre) > code:not([class^='language-']) {
  background: #1e1e3f;
}

pre[class*='language-'],
code[class*='language-'] {
  font-size: inherit;
}

/* ==========================================================================
  MAIN BORDER
========================================================================== */
/* ==========================================================================
  PARAGRAPH SELECTION
========================================================================== */
p::selection {
  background-color: var(--co_palette--lighten);
  color: #fff;
}

/* ==========================================================================
  04 - OBJECTS
========================================================================== */
/* ==========================================================================
  ASPECT RATIO

  more info: https://andy-bell.design/wrote/creating-an-aspect-ratio-css-utility/
========================================================================== */
.o-aspect-ratio {
  display: block;
  overflow: hidden;
  position: relative;
  /* ------------------
    ratio = 1
  ------------------ */
  /* ------------------
    ratio = 16:10
  ------------------ */
  /* ------------------
    img
  ------------------ */
}

.o-aspect-ratio--square {
  padding-top: calc(calc(1 / 1) * 100%);
}

.o-aspect-ratio--16-10 {
  padding-top: calc(calc(10 / 16) * 100%);
}

.o-aspect-ratio img {
  left: 0;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
}

/* ==========================================================================
  CARDS GRID
========================================================================== */
.o-cards-grid {
  display: grid;
  grid-gap: 1.25rem;
}

@media (min-width: 48em) {
  .o-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .o-cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ==========================================================================
  DISTRIBUTED
========================================================================== */
.o-distributed {
  display: flex;
}

.o-distributed--center {
  justify-content: center;
}

.o-distributed--between {
  justify-content: space-between;
}

/* ==========================================================================
  ICON
========================================================================== */
.icon {
  height: 30px;
  width: 30px;
}

/* ==========================================================================
  LAYOUT
========================================================================== */
.l-main {
  margin: 0rem 1.25rem;
}

@media (min-width: 80em) {
  .l-main {
    margin: 0 auto;
    max-width: 64rem;
    width: 100vw;
  }
}

/* ==========================================================================
  06 - COMPONENTS
========================================================================== */
/* ==========================================================================
  ARTICLE SECTION
========================================================================== */
.c-article-section__date, .c-article-section__toc {
  color: #acb3c2;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.c-article-section__toc ol {
  color: var(--co_text);
  padding-inline-start: 1.5625rem;
}

.c-article-section__reading-time {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0.3125rem 0;
}

.c-article-section__content {
  font-size: 1rem;
  line-height: 1.65;
}

@media (min-width: 48em) {
  .c-article-section__content {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .c-article-section__content {
    font-size: 1.25rem;
  }
}

.c-article-section__content img {
  display: block;
  margin: 0 auto;
}

.c-article-section__content a {
  text-decoration: underline;
}

.c-article-section__content table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-article-section__content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-article-section__content table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-article-section__content table th,
.c-article-section__content table td {
  padding: 0.625rem;
}

.c-article-section__content table th:first-child,
.c-article-section__content table td:first-child {
  padding-left: 0 !important;
}

.c-article-section__content table th:last-child,
.c-article-section__content table td:last-child {
  padding-right: 0 !important;
}

@media (max-width: 47.99em) {
  .c-article-section__content table {
    display: block;
    overflow-x: scroll;
  }
  .c-article-section__content table * {
    white-space: nowrap;
  }
}

.c-article-section__top {
  border-bottom: 0.0625rem solid #e8e8e8;
  padding-bottom: 1.25rem;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.c-article-section--custom .c-article-section__top {
  margin-bottom: 2.5rem;
  padding-bottom: 0;
}

.c-article-section__tags {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.c-article-section__tag {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0.3125rem;
}

.c-article-section__tag ~ .c-article-section__tag {
  margin-left: 0.3125rem;
}

.c-article-section__share {
  height: 1.25rem;
}

.c-article-section__share .btn {
  background-color: var(--co_text);
}

.c-article-section__img {
  margin: 0 auto;
}

@media (min-width: 64em) {
  .c-article-section__img--medium {
    max-width: 70%;
  }
}

@media (min-width: 64em) {
  .c-article-section__img--small {
    max-width: 50%;
  }
}

.c-article-section__img--shadow {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
}

.c-article-section__bottom {
  border-top: 0.0625rem solid #e8e8e8;
  padding-top: 1.25rem;
  margin-top: 3.75rem;
}

@media (max-width: 47.99em) {
  .c-article-section__bottom .c-button {
    margin-top: 1.25rem;
  }
}

/* ==========================================================================
  BUTTON
========================================================================== */
.c-button {
  background: transparent;
  border: none;
  background: #50596c;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  min-width: 150px;
  padding: 10px 20px;
}

.c-button:hover {
  background: #626a7b;
  color: #fff;
  text-decoration: none;
}

/* ---------------
  Secondary
--------------- */
.c-button--secondary {
  background: #fff;
  color: #50596c;
}

.c-button--secondary:hover {
  background: #50596c;
  color: #fff;
}

/* ---------------
  Border
--------------- */
.c-button--border {
  background: #fff;
  border: 1px solid #50596c;
  color: #50596c;
}

.c-button--border:hover {
  background: #50596c;
  color: #fff;
}

/* ==========================================================================
  CARD
========================================================================== */
.c-card {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  border-radius: 0.125rem;
  overflow: hidden;
  position: relative;
}

.c-card--horizontal {
  display: flex;
}

@media (min-width: 64em) {
  .c-card--horizontal {
    height: 12.5rem;
  }
}

.c-card__img-wrapper {
  position: relative;
}

.c-card__img-wrapper::before {
  background-color: var(--co_palette--lighten);
  color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-card__img-wrapper .icon {
  bottom: 1.25rem;
  color: #fff;
  height: auto;
  opacity: 0.5;
  position: absolute;
  right: 1.25rem;
  width: 5rem;
}

.c-card__img-wrapper .icon--design-system,
.c-card__img-wrapper .icon--reindeer {
  width: 6.25rem;
}

.c-card__img-wrapper .icon--nodejs {
  width: 7.5rem;
}

@media (max-width: 47.99em) {
  .c-card--squared-image .c-card__img-wrapper {
    display: none;
  }
}

@media (min-width: 48em) {
  .c-card--squared-image .c-card__img-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: calc(calc(1 / 1) * 100%);
  }
}

.c-card--squared-image.c-card--horizontal .c-card__img-wrapper {
  padding-top: 0;
}

@media (min-width: 64em) {
  .c-card--squared-image.c-card--horizontal .c-card__img-wrapper {
    flex-basis: 18.75rem;
    flex-shrink: 0;
  }
}

.c-card__content {
  background-color: var(--co_background);
  padding: 1.25rem 1.25rem 4.625rem 1.25rem;
}

.c-card--highlight-left .c-card__content {
  padding-left: 1.875rem;
}

.c-card--highlight-left .c-card__content::before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.625rem;
}

.c-card--highlight-top .c-card__content {
  padding-top: 1.875rem;
}

.c-card--highlight-top .c-card__content::before {
  background-color: var(--co_palette--lighten);
  color: #fff;
  content: '';
  height: 0.625rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 47.99em) {
  .c-card--squared-image .c-card__content {
    padding-left: 1.875rem;
  }
  .c-card--squared-image .c-card__content::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.625rem;
  }
}

.c-card__title-heading {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.625rem;
  margin-top: 0;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-card__title-heading {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-card__title-heading {
    font-size: 1.75rem;
  }
}

.c-card--highlight-top .c-card__title-heading,
.c-card--highlight-left .c-card__title-heading {
  margin-bottom: 1.25rem;
}

.c-card__abstract {
  margin-top: 0;
}

.c-card__bottom {
  bottom: 1.25rem;
  position: absolute;
  right: 1.25rem;
  text-align: right;
}

.c-card__date {
  color: #acb3c2;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.c-card__number {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
  background-color: var(--co_palette--lighten);
  border-radius: 0.125rem;
  color: #fff;
  float: right;
  line-height: 1;
  margin-left: 0.3125rem;
  padding: 0.3125rem 0.625rem;
}

.c-card__number::after {
  clear: right;
}

.c-card__tags .c-label {
  display: inline-block;
  margin-top: 0.3125rem;
}

.c-card--highlight-top .c-card__raw-content h2,
.c-card--highlight-left .c-card__raw-content h2 {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h2,
  .c-card--highlight-left .c-card__raw-content h2 {
    font-size: 1.75rem;
  }
}

.c-card--highlight-top .c-card__raw-content h3,
.c-card--highlight-top .c-card__raw-content h4,
.c-card--highlight-top .c-card__raw-content h5,
.c-card--highlight-top .c-card__raw-content h6,
.c-card--highlight-left .c-card__raw-content h3,
.c-card--highlight-left .c-card__raw-content h4,
.c-card--highlight-left .c-card__raw-content h5,
.c-card--highlight-left .c-card__raw-content h6 {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .c-card--highlight-top .c-card__raw-content h3,
  .c-card--highlight-top .c-card__raw-content h4,
  .c-card--highlight-top .c-card__raw-content h5,
  .c-card--highlight-top .c-card__raw-content h6,
  .c-card--highlight-left .c-card__raw-content h3,
  .c-card--highlight-left .c-card__raw-content h4,
  .c-card--highlight-left .c-card__raw-content h5,
  .c-card--highlight-left .c-card__raw-content h6 {
    font-size: 1.5rem;
  }
}

.c-card__raw-content ul {
  padding-inline-start: 1.25rem;
}

@media (min-width: 64em) {
  .c-card__raw-content ul {
    padding-inline-start: 2.5rem;
  }
}

.c-card__raw-content table {
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  text-align: left;
}

.c-card__raw-content table tr {
  border-bottom: 0.0625rem solid #e8e8e8;
}

[data-theme='dark'] .c-card__raw-content table tr {
  border-color: rgba(232, 232, 232, 0.5);
}

.c-card__raw-content table th,
.c-card__raw-content table td {
  padding: 0.625rem;
}

.c-card__raw-content table th:first-child,
.c-card__raw-content table td:first-child {
  padding-left: 0 !important;
}

.c-card__raw-content table th:last-child,
.c-card__raw-content table td:last-child {
  padding-right: 0 !important;
}

@media (max-width: 47.99em) {
  .c-card__raw-content table {
    display: block;
    overflow-x: scroll;
  }
  .c-card__raw-content table * {
    white-space: nowrap;
  }
}

.c-card__raw-content a {
  text-decoration: underline;
}

.c-card__raw-content .c-article__img--shadow {
  box-shadow: 0 0.625rem 2.8125rem -0.5625rem var(--co_shadow);
}

/* ==========================================================================
  FOOTER
========================================================================== */
.c-footer {
  background-color: #e8e8e8;
}

[data-theme='dark'] .c-footer {
  background-color: #052935;
}

.c-footer .l-main {
  margin-bottom: 0;
  margin-top: 0;
}

.c-footer__group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.c-footer__theme-switcher {
  margin-right: auto;
}

.c-footer__link {
  color: #50596c;
  padding: 0.625rem;
}

.c-footer__link:hover {
  color: #3f3f3f;
}

.c-footer__link ~ .c-footer__link {
  margin-left: 0.625rem;
}

.c-footer__link .icon {
  height: 1.875rem;
  width: 1.875rem;
}

/* ==========================================================================
  HEADER
  ========================================================================== */
@media (max-width: 63.99em) {
  .is-menu-open .c-header {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}

@media (max-width: 63.99em) {
  .c-header__nav {
    margin: 0;
    position: relative;
  }
}

.c-header__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media (max-width: 63.99em) {
  .c-header__list {
    align-content: center;
    background-color: var(--co_palette--lighten);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 100%;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 1s cubic-bezier(0.32, -0.01, 0, 0.99);
    width: 100%;
    z-index: 10;
  }
  .c-header__toggle:checked ~ .c-header__list {
    transform: translate3d(-100%, 0, 0);
    transition: transform 1s cubic-bezier(0.32, -0.01, 0, 0.99);
  }
}

@media (min-width: 64em) {
  .c-header__list {
    padding: 1.25rem 0;
    text-align: right;
  }
}

.c-header__item {
  margin-bottom: 0;
  padding-left: 0;
  display: block;
}

@media (max-width: 63.99em) {
  .c-header__item {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 63.99em) and (min-width: 48em) {
  .c-header__item {
    font-size: 1.9375rem;
  }
}

@media (max-width: 63.99em) and (min-width: 64em) {
  .c-header__item {
    font-size: 2.375rem;
  }
}

@media (min-width: 64em) {
  .c-header__item {
    display: inline-block;
    margin-bottom: 0;
  }
  .c-header__item::before {
    color: var(--co_text);
    content: '•';
  }
}

@media (min-width: 64em) {
  .c-header__item + .c-header__item {
    margin-left: 1.25rem;
  }
}

@media (max-width: 63.99em) {
  .c-header__link {
    color: #fff;
  }
  .c-header__link:hover {
    color: #fff;
  }
}

@media (hover: hover) {
  .c-header__link:hover {
    border-bottom: 0.0625rem solid #50596c;
    border-color: var(--co_palette--lighten);
    padding-bottom: 0.25rem;
    text-decoration: none;
  }
}

.c-header__link[data-state='active'] {
  font-weight: 600;
}

@media (min-width: 64em) {
  .c-header__link[data-state='active'] {
    border-bottom: 0.25rem solid #50596c;
    border-color: var(--co_palette--lighten);
    font-weight: 400;
    padding-bottom: 0.25rem;
  }
  .c-header__link[data-state='active']:hover {
    text-decoration: none;
  }
}

@media (min-width: 64em) {
  .c-header__link.is-current-section:not([data-state='active']) {
    border-bottom: 0.125rem dotted #50596c;
    border-color: var(--co_palette--lighten);
    font-weight: 400;
    padding-bottom: 0.25rem;
  }
}

/* ---------
  Mobile header toggle
--------- */
.c-header__toggle {
  height: 2.8125rem;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 2.8125rem;
  z-index: 11;
}

@media (min-width: 64em) {
  .c-header__toggle {
    display: none;
  }
}

.c-header__hamburger {
  background: #fff;
  display: block;
  height: 0.125rem;
  position: absolute;
  right: 1.25rem;
  top: 1.875rem;
  transition: background 1s;
  width: 1.875rem;
  z-index: 11;
}

.c-header__toggle:checked ~ .c-header__hamburger {
  background: transparent;
  transition: background 1s;
}

.c-header__hamburger::before {
  background: #fff;
  content: '';
  height: 0.125rem;
  left: 0;
  position: absolute;
  top: 0.625rem;
  transition: transform 1s;
  width: 1.875rem;
}

.c-header__toggle:checked ~ .c-header__hamburger::before {
  transform: translateY(-5px) rotate(-45deg);
  transition: transform 1s;
}

.c-header__hamburger::after {
  background: #fff;
  bottom: 0.625rem;
  content: '';
  height: 0.125rem;
  left: 0;
  position: absolute;
  transition: transform 1s;
  width: 1.875rem;
}

.c-header__toggle:checked ~ .c-header__hamburger::after {
  transform: translateY(15px) rotate(45deg);
  transition: transform 1s;
}

@media (min-width: 64em) {
  .c-header__hamburger {
    display: none;
  }
}

/* ==========================================================================
  HERO
========================================================================== */
.c-hero {
  align-items: center;
  background-color: var(--co_palette);
  color: #fff;
  display: flex;
  min-height: 21.875rem;
  position: relative;
  text-align: center;
}

.c-hero .l-main {
  position: relative;
  width: 100%;
}

.c-hero--bg-img {
  color: #fff;
  min-height: 31.25rem;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 0.625rem;
}

.c-hero--bg-img::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%), linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5) 50%, transparent);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-hero--quote {
  font-style: italic;
}

.c-hero__quote {
  margin: 0 auto;
  max-width: 80%;
}

.c-hero__quote::before {
  content: '“';
}

.c-hero__quote::after {
  content: '”';
}

.c-hero__title-custom {
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 0.0625rem dashed #fff;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-hero__title-custom {
    font-size: 1.5625rem;
  }
}

@media (min-width: 64em) {
  .c-hero__title-custom {
    font-size: 1.75rem;
  }
}

.c-hero__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.c-hero__subtitle {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 48em) {
  .c-hero__subtitle {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .c-hero__subtitle {
    font-size: 1.5rem;
  }
}

.c-hero__scroll-down {
  color: #fff;
}

.c-hero__credits {
  bottom: 20px;
  color: inherit;
  font-size: 0.75rem;
  position: absolute;
  right: 20px;
}

.c-hero__credits a {
  color: inherit;
  text-decoration: underline;
}

/* ==========================================================================
  LABEL
========================================================================== */
.c-label {
  background-color: var(--co_palette--lighten-hard);
  border-radius: 2px;
  border-radius: 6.25rem;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  text-transform: uppercase;
}

.c-label + .c-label {
  margin-left: 0.3125rem;
}

.c-label[data-state='active'] {
  background: var(--co_palette);
  color: #fff;
}

[data-theme='dark'] .c-label {
  color: #073b4c;
}

[data-theme='dark'] .c-label:hover {
  color: #073b4c;
}

/* ==========================================================================
  FILTER
========================================================================== */
.c-filter__legend {
  margin-bottom: 0.625rem;
}

.c-filter__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-flow: wrap;
}

.c-filter__item {
  margin-top: 0.3125rem;
}

.c-filter__item:not(:last-child) {
  margin-right: 0.3125rem;
}

/* ==========================================================================
  FORM
========================================================================== */
.c-form {
  align-items: stretch;
  position: relative;
}

.c-form__input {
  border: 0.0625rem solid #e8e8e8;
  border-radius: 0.1875rem;
  color: #50596c;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

@media (min-width: 48em) {
  .c-form__input {
    margin-right: 1.25rem;
    width: 50%;
  }
}

.c-form__input:focus {
  border: 0.0625rem solid #acb3c2;
  outline: none;
}

.c-form__input::placeholder {
  color: #acb3c2;
}

.c-form__label {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

/* ==========================================================================
  THEME SWITCHER
========================================================================== */
.c-theme-switcher {
  align-items: center;
  display: flex;
}

.c-theme-switcher__text {
  font-size: 0.625rem;
  margin-left: 0.625rem;
}

.c-theme-switcher__checkbox {
  display: inline-block;
  height: 1.7rem;
  position: relative;
  width: 3rem;
}

.c-theme-switcher__checkbox input {
  display: none;
}

.c-theme-switcher__slider {
  background-color: #ccc;
  border-radius: 1.7rem;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.c-theme-switcher__slider::before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 4px;
  content: '';
  height: 1.3rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.3rem;
}

input:checked + .c-theme-switcher__slider {
  background-color: #626a7b;
}

input:checked + .c-theme-switcher__slider::before {
  transform: translateX(1.3rem);
}

/* ==========================================================================
  07 - SCOPES
========================================================================== */
/* ==========================================================================
  SEARCH LIST
========================================================================== */
.s-search-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.s-search-list li {
  margin-bottom: 0;
  padding-left: 0;
}

/* ==========================================================================
  PROFILE PICTURE
========================================================================== */
.s-profile-picture {
  border-radius: 0.1875rem;
  width: 12.5rem;
}

@media (min-width: 64em) {
  .s-profile-picture {
    float: right;
  }
}

/* ==========================================================================
  08 - UTILITY
========================================================================== */
/* ==========================================================================
  UTILITY TYPOGRAPHY
========================================================================== */
.u-ty-uppercase {
  text-transform: uppercase;
}

.u-ty-italic {
  font-style: italic;
}

/* ==========================================================================
  UTILITY GIPHY
========================================================================== */
.u-giphy-centered {
  width: 100%;
}

.s-giphy {
  margin: 0 auto;
}

@media (max-width: 47.99em) {
  .s-giphy iframe.giphy-embed {
    width: 100%;
  }
}

.s-giphy p {
  margin: 0;
}

.s-giphy p > a {
  color: #acb3c2;
  display: block;
  font-size: 0.625rem;
  margin-top: 0.1875rem;
}

@media (min-width: 64em) {
  .s-giphy--medium-d {
    max-width: 70%;
  }
}

@media (min-width: 64em) {
  .s-giphy--small-d {
    max-width: 50%;
  }
}

/* ==========================================================================
  HIDDEN
========================================================================== */
.u-hidden {
  display: none !important;
}

.u-visible {
  display: block !important;
}

@media (max-width: 47.99em) {
  .u-hidden-m {
    display: none !important;
  }
}

@media (min-width: 48em) and (max-width: 63.99em) {
  .u-hidden-t {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .u-hidden-d {
    display: none !important;
  }
}

/* ==========================================================================
  DEBUG
========================================================================== */
.u-debug {
  outline: 1px solid #0f0;
}
