<footer class="c-footer">
  <div class="l-main">
    <div class="c-footer__group">
      <div class="c-footer__theme-switcher">
        <%- include('../theme-switcher/theme-switcher.ejs') %>
      </div>

      <a class="c-footer__link" href="https://twitter.com/giulia_chiola">
        <%- include('../../svg/svgo/twitter.svg') %>
      </a>
      <a class="c-footer__link" href="https://github.com/giuliachiola">
        <%- include('../../svg/svgo/github.svg') %>
      </a>
      <a class="c-footer__link" href="https://twitter.com/giulia_chiola">
        <%- include('../../svg/svgo/codepen.svg') %>
      </a>
    </div>
  </div>
</footer>
