<footer class="c-footer">
  <div class="l-main">
    <a class="c-footer__content" href="https://twitter.com/giulia_chiola">Follow me on
      <%- include('../../svg/twitter.svg') %>
    </a>
  </div>
</footer>
