<footer class="c-footer">
  <div class="l-main">
    <div class="c-footer__group">
      <a class="c-footer__item" href="https://twitter.com/giulia_chiola">
        <%- include('../../svg/twitter.svg') %>
      </a>
      <a class="c-footer__item" href="https://github.com/giuliachiola">
        <%- include('../../svg/github.svg') %>
      </a>
      <a class="c-footer__item" href="https://twitter.com/giulia_chiola">
        <%- include('../../svg/codepen.svg') %>
      </a>
    </div>
  </div>
</footer>
