/* ==========================================================================
  BASE
========================================================================== */

* {
  box-sizing: border-box;
  font-family: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: $ty_font-size-base;
  scroll-behavior: smooth;
}

body {
  background-color: var(--co_background);
  color: var(--co_text);
  height: 100%;
  margin: 0;
  padding: 0;

  &.is-menu-open {
    position: fixed;
    width: 100%; // fix body movement when the user opens/closes the hamburger menu
  }
}

// p {
//   // font-size: $ty_font-size-base;
//   // font-size: rem($ty_font-size-base);
//   // line-height: 1.4;
// }

a {
  color: var(--co_text);
  // -webkit-tap-highlight-color: transparent; // Chrome on Android: remove blue highlight on all the clickable area
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--co_text-tint-10);
    text-decoration: underline;
  }
}

// strong,
// b {
//   // @include ty-weight--medium;
// }

// em {
//   // @include ty-style--italic;
// }

// small {
//   // @include ty-body--xxs;

//   // display: inline-block; // needed to fix wrong line-height due to <small> inline
// }

code {
  font-family: $ty_font-family-code;
}

// ul {
//   font-size: $ty_font-size-base;
// }

// ol,
// ul {
//   margin-top: rem(10);
// }

// ol {
//   list-style: decimal;
//   padding-left: rem(32);

//   li {
//     margin-bottom: rem(10);
//     padding-left: rem(10);
//   }
// }

// ul {
//   list-style: disc;
//   padding-left: rem(36);

//   li {
//     margin-bottom: rem(10);
//     padding-left: rem(5);
//   }
// }

/* ------------------
  Image reset
------------------ */

img,
amp-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* ------------------
  <hr>
------------------ */

hr {
  background-color: $co_color-city-lights;
  border: none;
  color: $co_color-city-lights;
  height: rem(1);
}

/* ------------------
  blockquote
------------------ */

blockquote { // "important" section into article body
  border-left: rem(3) solid $co_color-city-lights;
  margin: 0;
  padding-left: rem(20);
}

/* ------------------
  Footer at the bottom trick
------------------ */

html,
body {
  height:100%;
  margin:0;
}

.l-wrapper {
  @include mq(desktop) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.c-footer {
  @include mq(desktop) {
    margin-top:auto;
  }
}
