/* ==========================================================================
  CODE
========================================================================== */

:not(pre) > code:not([class^= 'language-']) { // inline code
  background: $co_color-concrete;

  [data-theme= 'dark'] & {
    background: $co_palette-code-snippets; // same as code snippets
    padding: 3px; // improve readability
  }
}

// Prism customization

pre[class*= 'language-'],
code[class*= 'language-'] {
  font-size: inherit; // inherit the block font-size, to be large as the text around it
}
