/* ==========================================================================
  SPACING
========================================================================== */

$sp_variable-xxs: rem(3);
$sp_variable-xs: rem(5);
$sp_variable-s: rem(10);
$sp_variable-m: rem(20);
$sp_variable-l: rem(40);

$sp_main-border-radius: 2px;

// Spacing classes

.l-spacing-xs {
  margin-bottom: $sp_variable-xs;
}

.l-spacing-s {
  margin-bottom: $sp_variable-s;
}

.l-spacing-m {
  margin-bottom: $sp_variable-m;
}

.l-spacing-l {
  margin-bottom: $sp_variable-l;
}
