/* ==========================================================================
  TABLE
========================================================================== */

@mixin table-styles {
  border-collapse: collapse; // to show border bottom in <tr>
  margin-bottom: rem(30);
  text-align: left;

  tr {
    border-bottom: rem(1) solid $co_color-city-lights;
  }

  th,
  td {
    padding: rem(10);
  }
}

.c-table { // <table class="c-table">...</table>
  @include table-styles;
}
