/* ==========================================================================
  TABLE
========================================================================== */

@mixin table-styles {
  border-collapse: collapse; // to show border bottom in <tr>
  margin-bottom: rem(30);
  text-align: left;

  tr {
    border-bottom: rem(1) solid $co_color-city-lights;
  }

  th,
  td {
    padding: rem(10);

    &:first-child {
      padding-left: 0 !important;
    }

    &:last-child {
      padding-right: 0 !important;
    }
  }
}

@mixin table-scrollable-content {
  display: block;
  overflow-x: scroll;

  * {
    white-space: nowrap;
  }
}

.c-table { // <table class="c-table">...</table>
  @include table-styles;
}
