<table class="c-table">
  <thead>
      <tr>
        <th>Use</th>
        <th>Tech stack</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Template engine</td>
          <td>EJS</td>
      </tr>
      <tr>
          <td>Content</td>
          <td>Markdown</td>
      </tr>
      <tr>
        <td>Repository</td>
        <td>Open source on <a href="#">GitHub</a></td>
      </tr>
  </tbody>
</table>
